Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin
      isr:
        target: 90%
        flags:
          - isr

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true
  isr:
    paths:
      - libs/isr
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

Fix license for eslint-plugin
  libs/eslint-plugin/package.json
Due: eslint-plugin

fix(template): move import in virtual scrolling to rxjs/operators
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
Due: template

docs(template): add import statements for virtual-view
  apps/docs/docs/template/virtual-view-directive.mdx
Due: none

feat(template): make virtual views not set a height by default
  apps/docs/docs/template/virtual-view-directive.mdx
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

chore(template): adjust peerDependency to cdk
  libs/template/package.json
Due: template

chore(state): adjust peerDependency to cdk
  libs/state/package.json
Due: state

chore: update yarn.lock
  yarn.lock
Due: none

chore: update semver plugin
  package.json
  yarn.lock
Due: none

chore: update @angular-eslint dev dependencies
  package.json
  yarn.lock
Due: none

chore(docs): fix formatting
  apps/docs/docs/template/virtual-view-directive.mdx
Due: none

release(state): 19.0.3
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

release(template): 19.2.1
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

chore: migrate Nx to v20.4.0
  apps/ssr-isr/.eslintrc.json
  apps/ssr/.eslintrc.json
  libs/cdk/.eslintrc.json
  libs/isr/.eslintrc.json
  libs/state/.eslintrc.json
  libs/template/.eslintrc.json
  package.json
  yarn.lock
Due: state, template, cdk, isr

chore(template): drop @angular-eslint/no-host-metadata-property rule
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-element.directive.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

release(cdk): 19.1.1
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

fix(state): improve options check on getInjectorFromOptions
  libs/state/effects/src/lib/rx-effects.ts
  libs/state/src/lib/rx-state.ts
Due: state

chore(state): add test cases for rxEffects options
  libs/state/effects/src/lib/rx-effects.spec.ts
Due: state

feat(state): allow to pass injector to rxEffects
  libs/state/effects/src/lib/rx-effects.ts
Due: state

feat(state): allow to pass injector to rxState
  libs/state/src/lib/rx-state.ts
Due: state

chore(state): add test cases for rxState options
  libs/state/spec/rx-state.spec.ts
Due: state

docs(state): add docs about passing injector via options
  apps/docs/docs/state/effects/effects.mdx
  apps/docs/docs/state/getting-started.mdx
Due: none

docs: add funded by netidee link
  apps/docs/docusaurus.config.js
Due: none

fix(template): keep scroll offset when using keepScrolledIndexOnPrepend
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
Due: template

fix(template): using tombstoneSize for non-cached items with 0 height
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
Due: template

feat(isr): add onlyCacheSuccessfulResponses
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-generation.ts
Due: isr

fix(cdk): mark scheduler tasks as pending tasks
  libs/cdk/render-strategies/src/lib/concurrent-strategies.ts
  libs/cdk/render-strategies/src/lib/strategy-provider.service.ts
Due: cdk

chore(template): fix lint
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-element.directive.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

release(template): 19.2.2
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

feat(template): add DataSource support for rx-virtual-for directive
  libs/template/experimental/virtual-scrolling/src/index.ts
  libs/template/experimental/virtual-scrolling/src/lib/model.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
Due: template

fix(template): improve DataSource lifecycle management in RxVirtualFor
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
Due: template

chore: upgr yarn version
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-4.9.1.cjs
  .yarnrc.yml
  package.json
Due: none

chore: upgr nx & ng versions
  .gitignore
  apps/demos/project.json
  apps/ssr-isr/.eslintrc.json
  apps/ssr-isr/cypress.config.ts
  apps/ssr-isr/project.json
  apps/ssr/.eslintrc.json
  apps/ssr/cypress.config.ts
  apps/ssr/project.json
  libs/cdk/.eslintrc.json
  libs/isr/.eslintrc.json
  libs/state/.eslintrc.json
  libs/template/.eslintrc.json
  libs/template/cypress.config.ts
  nx.json
  package.json
  yarn.lock
Due: state, template, cdk, isr

fix(cdk): preserve prototype chains in array helpers
  libs/cdk/transformations/spec/array/toDictionary.spec.ts
  libs/cdk/transformations/spec/array/update.spec.ts
  libs/cdk/transformations/spec/array/upsert.spec.ts
  libs/cdk/transformations/src/lib/array/toDictionary.ts
  libs/cdk/transformations/src/lib/array/update.ts
  libs/cdk/transformations/src/lib/array/upsert.ts
Due: cdk

feat(cdk): bump peerDependency to @angular/core ^20
  libs/cdk/package.json
Due: cdk

feat(state): bump peerDependency to @angular/core ^20
  libs/state/package.json
Due: state

feat(template): bump peerDependency to @angular/core ^20
  libs/template/package.json
Due: template

chore: update lock file
  yarn.lock
Due: none

test(template): fix component test setup
  libs/template/cypress.config.ts
Due: template
