Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin
      isr:
        target: 90%
        flags:
          - isr

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true
  isr:
    paths:
      - libs/isr
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

feat(cdk): introduce HydrationTracker utility for SSR
  apps/docs/docs/cdk/hydration-tracker/hydration-tracker.mdx
  libs/cdk/README.md
  libs/cdk/ssr/ng-package.json
  libs/cdk/ssr/src/index.ts
  libs/cdk/ssr/src/lib/config.ts
  libs/cdk/ssr/src/lib/hydration-tracker.ts
  libs/cdk/ssr/src/test-setup.ts
  tsconfig.base.json
Due: cdk

feat(demos): add VirtualView hydration demo
  apps/ssr-hydration/src/app/app.component.html
  apps/ssr-hydration/src/app/app.component.ts
  apps/ssr-hydration/src/app/app.config.ts
  apps/ssr-hydration/src/app/vv-demo.ts
Due: none

feat(template): add `assertInjector` utility from ngxtension
  libs/template/virtual-view/src/lib/assert-injector.ts
Due: template

feat(template): add PLATFORM and `effectOnceIf` utilities
  libs/template/virtual-view/src/lib/util.ts
Due: template

feat(template): add runtime enable/disable support for VirtualView
  libs/template/virtual-view/src/lib/resize-observer.ts
  libs/template/virtual-view/src/lib/virtual-view-observer.directive.ts
  libs/template/virtual-view/src/lib/virtual-view.config.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

test(template): add tests for `enabled` in virtual views
  libs/template/virtual-view/src/lib/tests/virtual-view.directive.spec.ts
Due: template

docs(template): add SSR hydration guidelines for RxVirtualView
  apps/docs/docs/template/virtual-view-directive.mdx
Due: none

fix(template): handle delayed content in VirtualView directive
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

feat(template): add scrollMargin configuration to RxVirtualView
  libs/template/virtual-view/src/lib/virtual-view-observer.directive.ts
  libs/template/virtual-view/src/lib/virtual-view.config.ts
Due: template

feat(cdk): introduce PLATFORM token
  libs/cdk/ssr/src/index.ts
  libs/cdk/ssr/src/lib/platform.ts
Due: cdk

refactor(template): replace usages with `PLATFORM` token
  libs/cdk/ssr/src/lib/hydration-tracker.ts
  libs/template/virtual-view/src/lib/resize-observer.ts
  libs/template/virtual-view/src/lib/util.ts
  libs/template/virtual-view/src/lib/virtual-view-observer.directive.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template, cdk

fix(cdk): ability to override default strategies
  libs/cdk/render-strategies/src/lib/config.ts
Due: cdk

chore(cdk): bump version
  libs/cdk/package.json
Due: cdk

chore: try nx release
  libs/cdk/project.json
  libs/eslint-plugin/project.json
  libs/isr/project.json
  libs/state/project.json
  libs/template/project.json
  nx.json
Due: state, template, cdk, eslint-plugin, isr

chore: conventional commit type config for 'chore' is inside 'docs'
  nx.json
Due: none

chore: allow release as scope in commit linter
  .commitlintrc.json
Due: none

chore: create manually triggered publish and release actions
  .github/actions/setup/action.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
Due: none

chore: added config for jest and lint
  nx.json
Due: none

chore: nx release should create git tags
  nx.json
Due: none

chore: disable semverBumps for chore commits
  nx.json
Due: none

chore: use default nx release commit message 'chore(release): publish {version}'
  nx.json
Due: none

chore: remove legacy semver package
  package.json
  yarn.lock
Due: none

chore: make sure packages are built before publish
  nx.json
Due: none

chore: make test-helper private to skip publishing
  libs/test-helpers/package.json
Due: none

chore: updated how-to-release guide
  docs/how-to-release.md
Due: none

chore: semverBump should be none not false
  nx.json
Due: none

chore: removed unnessary build before versioning
  nx.json
Due: none

chore: pin exact version for cdk otherwise nx release won't bump it
  libs/state/package.json
  libs/template/package.json
  yarn.lock
Due: state, template

Remove environment from release action
  .github/workflows/release.yml
Due: none

Remove environment from publish job in workflow
  .github/workflows/publish.yml
Due: none

chore: only run component-test target in build-and-test pipeline
  .github/workflows/build-and-test.yml
Due: none

chore: add lint and build
  .github/workflows/build-and-test.yml
Due: none

chore: add test target
  .github/workflows/build-and-test.yml
Due: none

chore: only run e2e test without parallisation
  .github/workflows/build-and-test.yml
Due: none

chore: run e2e tests in parallel
  .github/workflows/build-and-test.yml
Due: none

chore: actually run e2e test by using run-many instead of affected
  .github/workflows/build-and-test.yml
Due: none

chore: run them in parallel
  .github/workflows/build-and-test.yml
Due: none

chore: run component tests
  .github/workflows/build-and-test.yml
Due: none

chore: just run test
  .github/workflows/build-and-test.yml
Due: none
