Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

chore: update docs
  apps/docs/docs/packages/state/how-to/best-practices.md
  apps/docs/docs/packages/state/how-to/getting-started.md
  apps/docs/docs/packages/template/how-to/concurrent-rendering.md
Due: none

chore(release): publish
  libs/rebundle/CHANGELOG.md
  libs/rebundle/package.json
Due: none

feat(demos): implement light/dark mode toggle and update styles
  apps/demos/src/app/app-component/app.component.html
  apps/demos/src/app/app-component/app.component.scss
  apps/demos/src/app/app-component/app.component.ts
  apps/demos/src/app/app-shell/side-nav/side-nav.component.scss
  apps/demos/src/app/features/home/home.component.ts
  apps/demos/src/app/features/template/rx-let/http-errors.component.ts
  apps/demos/src/app/features/template/rx-let/rx-let.menu.ts
  apps/demos/src/app/shared/theme.service.ts
  apps/demos/src/styles/_design-system.scss
  apps/demos/src/styles/theme.scss
Due: none

chore: [nx migration] bump Nx to 23.0.1 and run codemods
  .gitignore
  .prettierignore
  libs/cdk/schematics/src/migrations/update-1.0.0-beta.1/__snapshots__/index.spec.ts.snap
  libs/state/schematics/src/migrations/update-1.4.7/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/drop-modules/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/introduce-rxfor-stable/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/introduce-rxif-stable/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/update-1.0.0-beta.30/__snapshots__/index.spec.ts.snap
  nx.json
  package.json
  yarn.lock
Due: state, template, cdk

fix(demos): load rebundle plugin from compiled dist
  apps/rebundle-demo/project.json
Due: none

fix: fix demos
  apps/docs/docs/packages/eslint-plugin/reference/no-rxstate-imperative-in-reactive.md
  apps/docs/docs/packages/state/how-to/derive-a-view-model.md
  apps/docs/docs/packages/state/how-to/getting-started.md
  apps/docs/docs/packages/state/how-to/manage-entities.md
  apps/docs/docs/packages/state/reference/rx-state-class.md
  apps/docs/docs/packages/state/reference/rx-state-functional.md
Due: none

fix(demos): build rebundle lib before serve and e2e
  apps/rebundle-demo-e2e/project.json
  apps/rebundle-demo/project.json
Due: none

chore: the ".eslintignore" file is no longer supported
  apps/rebundle-demo-e2e/.eslintrc.json
  apps/rebundle-demo-e2e/eslint.config.mjs
  apps/rebundle-demo/.eslintrc.json
  apps/rebundle-demo/eslint.config.mjs
  libs/template/.eslintrc.json
  libs/template/eslint.config.mjs
Due: template

fix(rebundle): use explicit .ts import extensions for ESM plugin loading
  libs/rebundle/src/core/index.ts
  libs/rebundle/src/core/merge-strategy/common-strategy.ts
  libs/rebundle/src/core/merge-strategy/config.ts
  libs/rebundle/src/core/merge-strategy/graph-queries.ts
  libs/rebundle/src/core/merge-strategy/graph.ts
  libs/rebundle/src/core/merge-strategy/index.ts
  libs/rebundle/src/core/merge-strategy/merge-groups.ts
  libs/rebundle/src/core/merge-strategy/merge-strategy-factory.ts
  libs/rebundle/src/core/merge-strategy/reachability-strategy.ts
  libs/rebundle/src/core/merge-strategy/static-closure-strategy.ts
  libs/rebundle/src/core/merge-strategy/strategy-applicator.ts
  libs/rebundle/src/core/merge-strategy/types.ts
  libs/rebundle/src/esbuild-plugin/index.ts
  libs/rebundle/src/esbuild-plugin/rolldown/advanced-chunks.ts
  libs/rebundle/src/esbuild-plugin/rolldown/esbuild-output-loader.plugin.ts
  libs/rebundle/src/esbuild-plugin/rolldown/rebundle.ts
  libs/rebundle/src/esbuild-plugin/rolldown/to-esbuild-outputs.ts
  libs/rebundle/src/esbuild-plugin/utils/esbuild.ts
  libs/rebundle/src/esbuild-plugin/utils/initial-chunks.ts
  libs/rebundle/src/index.ts
  libs/rebundle/tsconfig.json
  libs/rebundle/tsconfig.spec.json
Due: none

fix(eslint): migrate RuleTester to ESLint 9 flat config
  libs/eslint-plugin/src/lib/rules/no-explicit-change-detection-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-imperative-in-reactive.spec.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-subscriptions-outside-constructor.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-browser-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-lodash-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-creation-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-operators.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-schedulers.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-run-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-layout-sensitive-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-clone-deep.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-is-equal.spec.ts
Due: eslint-plugin

fix(demos): type memoize helper to compile under Angular 22
  apps/demos/src/app/rx-angular-pocs/cdk/utils/memoization.ts
Due: none

chore: sync yarn.lock with Angular 22 dependencies
  yarn.lock
Due: none

fix(demos): import @rx-angular/template APIs via package scope
  apps/demos/src/app/features/concepts/coalescing/coalescing/coalescing.component.ts
  apps/demos/src/app/features/concepts/global-order/push-v/v2-a.component.ts
  apps/demos/src/app/features/concepts/global-order/push-v/v2-b.component.ts
  apps/demos/src/app/features/concepts/passing-values/passing-values.component.ts
  apps/demos/src/app/features/concepts/projected-views/projected-views.component.ts
  apps/demos/src/app/features/concepts/scheduling/scheduling/scheduling.component.ts
  apps/demos/src/app/features/concepts/view-vs-embedded-view/view-vs-embedded-view.component.ts
  apps/demos/src/app/features/concepts/zone-patched-apis/zone-patched-apis.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-let-poc.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query-children.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-switch-poc/rx-switch-poc.component.ts
  apps/demos/src/app/features/integrations/dynamic-counter/rx-state-and-subjects/rx-state-and-subjects.component.ts
  apps/demos/src/app/features/integrations/dynamic-counter/rx-state-as-presenter/rx-state-as-presenter.component.ts
  apps/demos/src/app/features/integrations/dynamic-counter/rx-state-in-the-view/rx-state-in-the-view.component.ts
  apps/demos/src/app/features/integrations/dynamic-counter/shared/counter-display.component.ts
  apps/demos/src/app/features/integrations/dynamic-counter/starter/starter.component.ts
  apps/demos/src/app/features/integrations/pokemon-pagination/pokemon.component.ts
  apps/demos/src/app/features/performance/rx-let-vs-push/list-toggle-test-component/list-toggle-test.component.ts
  apps/demos/src/app/features/tutorials/basics/1-setup/setup.start.component.ts
  apps/demos/src/app/shared/debug-helper/cd-trigger/cd-trigger/cd-trigger.component.ts
  apps/demos/src/app/shared/debug-helper/renderings/renderings.component.ts
  apps/demos/src/app/shared/debug-helper/trigger-provider/trigger-provider.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/array-provider/array-provider.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/value-provider/value-provider.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/value/value.component.ts
  apps/demos/src/app/shared/debug-helper/work/work.component.ts
  apps/demos/src/app/shared/strategy-icon/strategy-icons.component.ts
  apps/demos/src/app/shared/template-structures/recursive/recursive-component-let.component.ts
  apps/demos/src/app/shared/template-structures/recursive/recursive-observable-work-push.component.ts
  apps/demos/src/app/shared/template-structures/recursive/recursive-push.component.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling-custom.component.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling-pixel-img.component.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling-progressive.component.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling-push.component.ts
Due: none

fix(rebundle): improve generator and build output
  .nxignore
  libs/rebundle/package.json
  libs/rebundle/project.json
  libs/rebundle/src/esbuild-plugin/index.ts
  libs/rebundle/src/esbuild-plugin/rolldown/rebundle.ts
  libs/rebundle/src/esbuild-plugin/utils/stats.spec.ts
  libs/rebundle/src/esbuild-plugin/utils/stats.ts
  libs/rebundle/src/generators/configure/generator.spec.ts
  libs/rebundle/src/generators/configure/generator.ts
Due: none

fix(template): add virtual-view coverage + content-swap fix
  apps/ssr-hydration/cypress.config.ts
  apps/ssr-hydration/cypress/e2e/hydration.cy.ts
  apps/ssr-hydration/cypress/e2e/ssr-render.cy.ts
  apps/ssr-hydration/cypress/support/commands.ts
  apps/ssr-hydration/cypress/support/e2e.ts
  apps/ssr-hydration/cypress/tsconfig.json
  apps/ssr-hydration/project.json
  apps/ssr-hydration/src/app/app.component.html
  apps/ssr-hydration/src/app/app.component.scss
  apps/ssr-hydration/src/app/app.component.ts
  apps/ssr-hydration/src/app/app.config.ts
  apps/ssr-hydration/src/app/app.routes.ts
  apps/ssr-hydration/src/app/demos/basic-demo.component.ts
  apps/ssr-hydration/src/app/demos/deferred-content-demo.component.ts
  apps/ssr-hydration/src/app/demos/disabled-demo.component.ts
  apps/ssr-hydration/src/app/demos/if-else-swap-demo.component.ts
  apps/ssr-hydration/src/app/demos/switch-swap-demo.component.ts
  apps/ssr-hydration/src/app/vv-demo.ts
  apps/ssr-hydration/src/index.html
  apps/ssr-hydration/src/styles.scss
  libs/template/virtual-view/src/lib/tests/resize-observer.spec.ts
  libs/template/virtual-view/src/lib/tests/test-utils/fake-view-ref.ts
  libs/template/virtual-view/src/lib/tests/test-utils/host-components.ts
  libs/template/virtual-view/src/lib/tests/test-utils/observer-mocks.ts
  libs/template/virtual-view/src/lib/tests/test-utils/render-strategy.ts
  libs/template/virtual-view/src/lib/tests/test-utils/testbed.ts
  libs/template/virtual-view/src/lib/tests/util.spec.ts
  libs/template/virtual-view/src/lib/tests/virtual-view-cache.spec.ts
  libs/template/virtual-view/src/lib/tests/virtual-view-cls.spec.ts
  libs/template/virtual-view/src/lib/tests/virtual-view-config.spec.ts
  libs/template/virtual-view/src/lib/tests/virtual-view-content-placeholder.spec.ts
  libs/template/virtual-view/src/lib/tests/virtual-view-control-flow.spec.ts
  libs/template/virtual-view/src/lib/tests/virtual-view-observer.directive.spec.ts
  libs/template/virtual-view/src/lib/tests/virtual-view-ssr.spec.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
  package.json
  yarn.lock
Due: template

docs(rebundle): move inline docs into docs app
  apps/docs/docs/packages/rebundle/_category_.json
  apps/docs/docs/packages/rebundle/explanation/_category_.json
  apps/docs/docs/packages/rebundle/explanation/architecture.md
  apps/docs/docs/packages/rebundle/explanation/research.md
  apps/docs/docs/packages/rebundle/how-to/_category_.json
  apps/docs/docs/packages/rebundle/how-to/configure-merge-strategies.md
  apps/docs/docs/packages/rebundle/how-to/enable-size-based-merging.md
  apps/docs/docs/packages/rebundle/how-to/set-up-rebundle.md
  apps/docs/docs/packages/rebundle/index.md
  apps/docs/docs/packages/rebundle/introduction.md
  apps/docs/docs/packages/rebundle/reference/_category_.json
  apps/docs/docs/packages/rebundle/reference/common.md
  apps/docs/docs/packages/rebundle/reference/merge-strategies.md
  apps/docs/docs/packages/rebundle/reference/reachability.md
  apps/docs/docs/packages/rebundle/reference/size-based-merging-options.md
  apps/docs/docs/packages/rebundle/reference/static-closure.md
  apps/docs/docusaurus.config.js
  apps/docs/sidebars.js
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/pages/index.tsx
  libs/rebundle/README.md
  libs/rebundle/docs/architecture.md
  libs/rebundle/docs/merge-strategies/common.md
  libs/rebundle/docs/merge-strategies/merge-strategies.md
  libs/rebundle/docs/merge-strategies/reachability.md
  libs/rebundle/docs/merge-strategies/static-closure.md
  libs/rebundle/docs/setup.md
  libs/rebundle/docs/size-based-merging.md
Due: none

docs(rebundle): remove size-based merging docs
  apps/docs/docs/packages/rebundle/how-to/enable-size-based-merging.md
  apps/docs/docs/packages/rebundle/index.md
  apps/docs/docs/packages/rebundle/introduction.md
  apps/docs/docs/packages/rebundle/reference/size-based-merging-options.md
  libs/rebundle/README.md
Due: none

docs(rebundle): align docs with actual merge-strategy behavior
  apps/docs/docs/packages/rebundle/introduction.md
  apps/docs/docs/packages/rebundle/reference/common.md
  apps/docs/docs/packages/rebundle/reference/merge-strategies.md
  libs/rebundle/README.md
Due: none

docs(rebundle): remove non-existent import-attribute API from arch doc
  apps/docs/docs/packages/rebundle/explanation/architecture.md
Due: none

docs(rebundle): move inline docs into docs app (#1928)
  apps/docs/docs/packages/rebundle/_category_.json
  apps/docs/docs/packages/rebundle/explanation/_category_.json
  apps/docs/docs/packages/rebundle/explanation/architecture.md
  apps/docs/docs/packages/rebundle/explanation/research.md
  apps/docs/docs/packages/rebundle/how-to/_category_.json
  apps/docs/docs/packages/rebundle/how-to/configure-merge-strategies.md
  apps/docs/docs/packages/rebundle/how-to/set-up-rebundle.md
  apps/docs/docs/packages/rebundle/index.md
  apps/docs/docs/packages/rebundle/introduction.md
  apps/docs/docs/packages/rebundle/reference/_category_.json
  apps/docs/docs/packages/rebundle/reference/common.md
  apps/docs/docs/packages/rebundle/reference/merge-strategies.md
  apps/docs/docs/packages/rebundle/reference/reachability.md
  apps/docs/docs/packages/rebundle/reference/static-closure.md
  apps/docs/docusaurus.config.js
  apps/docs/sidebars.js
  apps/docs/src/components/HomepageFeatures/index.tsx
  apps/docs/src/pages/index.tsx
  libs/rebundle/README.md
  libs/rebundle/docs/architecture.md
  libs/rebundle/docs/merge-strategies/common.md
  libs/rebundle/docs/merge-strategies/merge-strategies.md
  libs/rebundle/docs/merge-strategies/reachability.md
  libs/rebundle/docs/merge-strategies/static-closure.md
  libs/rebundle/docs/setup.md
  libs/rebundle/docs/size-based-merging.md
Due: none

fix(template): keep scroll offset when using keepScrolledIndexOnPrepend
  libs/template/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
Due: template

wip
  libs/template/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/virtual-for.directive.ts
Due: template

fix(template): render initial range without waiting for ResizeObserver
  libs/template/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

fix(template): re-position views on range shift with equal slice
  libs/template/virtual-scrolling/src/lib/virtual-for.directive.ts
Due: template

fix(template): keep the scrolled index stable when prepending data
  libs/template/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/tests/autosize.cy.ts
  libs/template/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/virtual-scrolling/tests/fixed-size.cy.ts
  libs/template/virtual-scrolling/tests/fixtures.ts
Due: template

docs(demos): rework reverse infinite scroll demo
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/messages/messages.service.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-reverse-infinite-scroll.component.ts
Due: none

fix(isr): allow express 5 peer and fix v5 route syntax in docs
  apps/docs/docs/packages/isr/how-to/set-up-isr.md
  apps/docs/docs/packages/isr/how-to/transform-cached-html.md
  libs/isr/README.md
  libs/isr/package.json
  yarn.lock
Due: isr

fix(isr): propagate generation errors to next() instead of swallowing them
  libs/isr/server/src/isr-handler.spec.ts
  libs/isr/server/src/isr-handler.ts
Due: isr

fix(eslint): stop layout-sensitive-apis rule flagging object literals
  apps/docs/docs/packages/eslint-plugin/reference/prefer-no-layout-sensitive-apis.md
  libs/eslint-plugin/src/lib/rules/prefer-no-layout-sensitive-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-layout-sensitive-apis.ts
Due: eslint-plugin

fix(template): truncate DynamicSizeVirtualScrollStrategy virtual items when data shrinks
  libs/template/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/tests/dynamic-size.cy.ts
Due: template

docs(eslint): add version compatibility section
  apps/docs/docs/packages/eslint-plugin/index.md
  libs/eslint-plugin/README.md
Due: eslint-plugin

docs(template): flesh out custom scroll strategy walkthrough
  apps/docs/docs/packages/template/how-to/virtual-scroll-recipes.md
  apps/docs/docs/packages/template/reference/rx-virtual-scroll-strategies.md
Due: none

docs(template): explain when to use rx directives vs native control flow
  apps/docs/docs/packages/template/how-to/choosing-and-combining-directives.md
  apps/docs/docs/packages/template/index.md
  apps/docs/docs/packages/template/reference/rx-for.md
  apps/docs/docs/packages/template/reference/rx-if.md
  apps/docs/docs/packages/template/reference/rx-let.md
Due: none

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
  isr: any of: libs/isr
