Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin
      isr:
        target: 90%
        flags:
          - isr

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true
  isr:
    paths:
      - libs/isr
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

release(state): 20.1.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

fix: update yarn lock
  yarn.lock
Due: none

feat(template): virtual-scrolling considered stable
  libs/template/experimental/virtual-scrolling/ng-package.json
  libs/template/virtual-scrolling/ng-package.json
  libs/template/virtual-scrolling/src/index.ts
  libs/template/virtual-scrolling/src/lib/model.ts
  libs/template/virtual-scrolling/src/lib/observe-element-size.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/resize-observer.ts
  libs/template/virtual-scrolling/src/lib/util.ts
  libs/template/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/virtual-scrolling/src/lib/virtual-list-template-manager.ts
  libs/template/virtual-scrolling/src/lib/virtual-scroll-element.directive.ts
  libs/template/virtual-scrolling/src/lib/virtual-scroll-viewport.component.scss
  libs/template/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
  libs/template/virtual-scrolling/src/lib/virtual-scroll-window.directive.ts
  libs/template/virtual-scrolling/src/lib/virtual-scroll.config.ts
  libs/template/virtual-scrolling/tests/autosize.cy.ts
  libs/template/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/virtual-scrolling/tests/fixed-size.cy.ts
  libs/template/virtual-scrolling/tests/fixtures.ts
  tsconfig.base.json
Due: template

docs(template): adjust virtual-scrolling docs
  apps/docs/docs/template/virtual-scrolling.mdx
Due: none

feat(template): create auto migration from experimental to stable path
  libs/template/schematics/migration.json
  libs/template/schematics/src/migrations/virtual-scrolling-stable/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/virtual-scrolling-stable/index.spec.ts
  libs/template/schematics/src/migrations/virtual-scrolling-stable/index.ts
Due: template

refactor(docs): adjust import paths for virtual-scrolling
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-crazy-update.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-demo.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-monkey-test.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-reverse-infinite-scroll.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-scroll-window-demo.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-scrollable-demo.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-scrollto-demo.component.ts
Due: none

chore: upgrade ng, nx & other dependencies
  .browserslistrc
  .env
  apps/demos/tsconfig.json
  apps/demos/tsconfig.spec.json
  apps/ssr-hydration/src/main.server.ts
  apps/ssr-isr/src/main.server.ts
  apps/ssr-isr/src/main.ts
  apps/ssr-isr/tsconfig.json
  apps/ssr/server.ts
  apps/ssr/src/main.ts
  apps/ssr/tsconfig.json
  apps/ssr/tsconfig.server.json
  apps/ssr/tsconfig.spec.json
  jest.preset.js
  libs/cdk/jest.config.ts
  libs/cdk/tsconfig.json
  libs/cdk/tsconfig.spec.json
  libs/isr/jest.config.ts
  libs/isr/tsconfig.json
  libs/isr/tsconfig.spec.json
  libs/state/jest.config.ts
  libs/state/tsconfig.json
  libs/state/tsconfig.perf.json
  libs/state/tsconfig.spec.json
  libs/template/jest.config.ts
  libs/template/tsconfig.json
  libs/template/tsconfig.spec.json
  libs/test-helpers/tsconfig.spec.json
  package.json
  yarn.lock
Due: state, template, cdk, isr

chore: upgrade yarn
  .yarn/releases/yarn-4.12.0.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

refactor(isr): fix e2e test setup
  .browserslistrc
  apps/ssr-isr/cypress/tsconfig.json
  apps/ssr-isr/project.json
  apps/ssr-isr/src/app/app.config.server.ts
  apps/ssr-isr/src/app/app.routes.server.ts
  apps/ssr/.browserslistrc
  apps/ssr/cypress/tsconfig.json
  apps/ssr/project.json
  apps/ssr/server.ts
  apps/ssr/src/main.server.ts
  apps/ssr/tsconfig.app.json
Due: none

test(template): fix virtual scrolling component tests
  libs/template/virtual-scrolling/tests/autosize.cy.ts
  libs/template/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/virtual-scrolling/tests/fixed-size.cy.ts
Due: template

feat(cdk): bump peerDependencies
  libs/cdk/package.json
Due: cdk

feat(template): bump peerDependencies
  libs/template/package.json
Due: template

feat(isr): bump peerDependencies
  libs/isr/package.json
Due: isr

feat(state): bump peerDependencies
  libs/state/package.json
Due: state

chore: update yarn.lock
  yarn.lock
Due: none

release(cdk): 21.0.0
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

release(isr): 21.0.0
  libs/isr/CHANGELOG.md
  libs/isr/package.json
Due: isr

release(state): 21.0.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

release(template): 21.0.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

release(template): 21.0.0
  libs/template/CHANGELOG.md
  libs/template/package.json
  yarn.lock
Due: template

docs(template): remove experimental flag from virtual view
  apps/docs/docs/template/virtual-view-directive.mdx
Due: none

fix(template): keep scroll offset when using keepScrolledIndexOnPrepend
  libs/template/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
Due: template

feat(demos): adjust virtual-scroll demo
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-reverse-infinite-scroll.component.ts
Due: none

fix(template): scroll position with keepScrolledIndexOnPrepend
  libs/template/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
Due: template

chore: try nx release
  libs/cdk/project.json
  libs/eslint-plugin/project.json
  libs/isr/project.json
  libs/state/project.json
  libs/template/project.json
  nx.json
Due: state, template, cdk, eslint-plugin, isr

feat(eslint): bump peerDependencies
  libs/eslint-plugin/package.json
  yarn.lock
Due: eslint-plugin

docs: cleanup
  apps/docs/docs/cdk/zone-configurations/zone-configurations.mdx
  apps/docs/src/components/HomepageReferences/index.tsx
Due: none

docs: cleanup
  apps/docs/src/pages/index.tsx
Due: none

docs: cleanup (#1898)
  apps/docs/docs/cdk/zone-configurations/zone-configurations.mdx
  apps/docs/src/components/HomepageReferences/index.tsx
  apps/docs/src/pages/index.tsx
Due: none

docs: cleanup
  README.md
Due: none

docs: cleanup (#1899)
  README.md
Due: none

feat(cdk): improve typing and auto completion
  libs/cdk/render-strategies/src/lib/model.ts
  libs/cdk/render-strategies/src/lib/strategy-provider.service.ts
Due: cdk

feat(template): add visibility state tracking and new outputs to `RxVirtualView`
  libs/template/package.json
  libs/template/virtual-view/src/lib/tests/virtual-view.directive.spec.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

feat(template): add visibility state tracking and new outputs to `RxVirtualView`
  libs/template/virtual-view/src/lib/tests/virtual-view.directive.spec.ts
  tsconfig.base.json
Due: template

docs(template): add usage guide for `visibilityChanged` output and `visibility` property in virtual views
  apps/docs/docs/template/virtual-view-directive.mdx
Due: none

Use rxVirtualViewPlaceholder for dynamic dimensions
  apps/docs/docs/template/virtual-view-directive.mdx
Due: none

docs(template): Use rxVirtualViewPlaceholder for dynamic dimensions
  apps/docs/docs/template/virtual-view-directive.mdx
Due: none
