Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin
      isr:
        target: 90%
        flags:
          - isr

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true
  isr:
    paths:
      - libs/isr
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

feat: rx state as read only
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

feat: default transform function to select
  libs/state/selections/src/lib/operators/select.ts
Due: state

feat: default transform function to select
  libs/state/selections/src/lib/operators/select.ts
  libs/state/selections/src/lib/utils/guards.ts
Due: state

feat(isr): add `inlineCriticalCss` support
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/render-url.ts
Due: isr

feat(state): add default transform function to select
  libs/state/selections/src/lib/operators/select.ts
  libs/state/selections/src/lib/utils/guards.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

spelling correction
  apps/docs/docs/isr/introduction.md
Due: none

feat(template): initial implementation for signals support in rxIf
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/tests/fixtures.ts
  libs/template/if/src/lib/tests/if.directive.signal.spec.ts
Due: template

feat(template): fixing tests
  libs/template/if/src/lib/tests/if.directive.signal.spec.ts
Due: template

feat(template): fix not passing tests
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/tests/if.directive.signal.spec.ts
Due: template

feat(template): make a simpler check for if directive
  libs/template/if/src/lib/if.directive.ts
Due: template

feat(template): add support for signals in rxLet
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.signal-set.spec.ts
Due: template

feat(eslint): update dependencies to be compatible to nx 18
  libs/eslint-plugin/package.json
Due: eslint-plugin

docs(isr): fix typo
  apps/docs/docs/isr/introduction.md
Due: none

feat(template): add proper variable name
  libs/template/let/src/lib/let.directive.ts
Due: template

fix(docs) Update concurrent-strategies.md
  apps/docs/docs/cdk/render-strategies/strategies/concurrent-strategies.md
Due: none

Fixed typo and capitalization
  apps/docs/docs/template/api/unpatch-directive.md
Due: none

fix(docs): fix typos and removed unlinked image
  apps/docs/docs/template/performance-issues/change-detection-over-pipes.md
Due: none

feat: review fixes
  apps/docs/docs/state/api/rx-state.md
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

feat: review fix, building docs fix
  apps/docs/docs/state/api/rx-state.md
  libs/state/src/lib/rx-state.service.ts
Due: state

feat: review fix, building docs fix
  apps/docs/docs/state/api/rx-state.md
Due: none

fix(isr): resolved the ISR cache invalidation issue
  libs/isr/server/src/utils/render-url.ts
  yarn.lock
Due: isr

feat(template): fix rendering and errors
  apps/demos/src/app/features/template/rx-let/let-template-binding/examples/let-template-binding-signal-example.component.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/let-template-binding.component.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/let-template-binding.module.ts
  apps/demos/src/app/features/template/rx-let/rx-let.routes.ts
  apps/demos/src/main.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.signal-set.spec.ts
Due: template

feat(state): introduce rxState asReadOnly API
  apps/docs/docs/state/api/rx-state.md
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

feat(template): refactor if signal impl
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/tests/if.directive.signal.spec.ts
Due: template

feat(template): support signals in rxFor natively
  libs/template/for/src/lib/for.directive.ts
  libs/template/for/src/lib/tests/fixtures.ts
  libs/template/for/src/lib/tests/for.directive.signal.spec.ts
Due: template

feat(template): add some docs for new signals apis
  apps/docs/docs/template/api/rx-if-directive.mdx
Due: none

docs(template): add signal usage to rxIf docs
  apps/docs/docs/template/api/rx-if-directive.mdx
Due: none

docs(template): add signal usage to rxLet docs
  apps/docs/docs/template/api/push-pipe.md
  apps/docs/docs/template/api/rx-let-directive.mdx
Due: none

docs(template): add signal usage to rxFor docs
  apps/docs/docs/template/api/rx-for-directive.md
  apps/docs/docs/template/api/rx-for-directive.mdx
Due: none

docs(template): adjust for jsdocs
  libs/template/for/src/lib/for.directive.ts
Due: template

docs(template): add signals to virtual-for docs
  apps/docs/docs/template/api/virtual-scrolling.mdx
Due: none

feat(template): make virtual-for accept signals as input
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
Due: template

docs(template): cleanup rx-let docs
  apps/docs/docs/template/api/rx-let-directive.mdx
Due: none

docs(template): fix links
  apps/docs/docs/template/api/push-pipe.md
Due: none

test(template): implement rxLet signal reactive template tests
  libs/template/let/src/lib/tests/let.directive.template-binding.all.signal.spec.ts
Due: template

docs(template): fix links
  apps/docs/docs/cdk/notifications/notifications.mdx
Due: none

refactor: drop `publish`, `publishReplay`, and `ConnectableObservable`
  apps/demos/src/app/features/experiments/state/composition/parent.component.ts
  apps/demos/src/app/features/experiments/state/subscription-less-interaction/parent.component.ts
  apps/demos/src/app/rx-angular-pocs/cdk/render-aware/render-aware.ts
  apps/demos/src/app/rx-angular-pocs/cdk/utils/rxjs/observable/stateful-observable.ts
  libs/state/effects/src/lib/effects.service.ts
  libs/state/selections/src/lib/accumulation-observable.ts
Due: state

refactor: drop deprecated `tap` overload
  apps/demos/src/app/rx-angular-pocs/cdk/utils/rxjs/observable/stateful-observable.ts
  libs/state/selections/src/lib/accumulation-observable.ts
Due: state

docs(template): formatting
  apps/docs/docs/template/api/rx-let-directive.mdx
Due: none
