Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin
      isr:
        target: 90%
        flags:
          - isr

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true
  isr:
    paths:
      - libs/isr
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

refactor(isr): standardize terminology from 'route' to 'cacheKey'
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.ts
Due: isr

docs(isr): update CacheHandler API doc
  apps/docs/docs/isr/cache-handlers.md
Due: none

docs: revert
  libs/cdk/README.md
  libs/state/README.md
  libs/template/README.md
Due: state, template, cdk

test(cdk): adjust specs after ng 19 upgrade
  libs/cdk/template/spec/fixtures.ts
  libs/cdk/template/spec/list-manager.spec.ts
  libs/cdk/template/spec/template-manager.spec.ts
Due: cdk

test(state): adjust specs after ng 19 upgrade
  libs/state/actions/src/lib/actions.factory.spec.ts
  libs/state/actions/src/lib/rx-actions.spec.ts
  libs/state/effects/src/lib/effects.service.spec.ts
  libs/state/effects/src/lib/rx-effects.spec.ts
  libs/state/spec/rx-state.component-patterns.spec.ts
  libs/state/spec/rx-state.component.spec.ts
  libs/state/spec/rx-state.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

test(template): adjust specs after ng 19 upgrade
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
  libs/template/experimental/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixed-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixtures.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/for/src/lib/tests/fixtures.ts
  libs/template/for/src/lib/tests/for.directive.observable.spec.ts
  libs/template/for/src/lib/tests/for.directive.parent-notification.spec.ts
  libs/template/for/src/lib/tests/for.directive.signal.spec.ts
  libs/template/for/src/lib/tests/for.directive.spec.ts
  libs/template/for/src/lib/tests/for.directive.strategy.spec.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/tests/fixtures.ts
  libs/template/if/src/lib/tests/if.directive.context-templates.spec.ts
  libs/template/if/src/lib/tests/if.directive.context.spec.ts
  libs/template/if/src/lib/tests/if.directive.observable.spec.ts
  libs/template/if/src/lib/tests/if.directive.signal.spec.ts
  libs/template/if/src/lib/tests/if.directive.spec.ts
  libs/template/if/src/lib/tests/if.directive.strategy.spec.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.context.spec.ts
  libs/template/let/src/lib/tests/let.directive.error.spec.ts
  libs/template/let/src/lib/tests/let.directive.next.spec.ts
  libs/template/let/src/lib/tests/let.directive.parent-notification.spec.ts
  libs/template/let/src/lib/tests/let.directive.rendered.spec.ts
  libs/template/let/src/lib/tests/let.directive.signal-set.spec.ts
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
  libs/template/let/src/lib/tests/let.directive.subscribable.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.signal.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-error.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-suspense.spec.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
  libs/template/unpatch/src/lib/tests/unpatch.directive.spec.ts
Due: template

fix(template): switch to native ng-packagr executor
  libs/template/project.json
Due: template

feat(cdk): upgrade to ng-19
  libs/cdk/package.json
Due: cdk

feat(isr): upgrade to ng-19
  libs/isr/package.json
Due: isr

feat(state): upgrade to ng-19
  libs/state/package.json
Due: state

feat(template): upgrade to ng-19
  libs/template/package.json
Due: template

release(cdk): 19.0.0
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

release(template): 19.0.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

release(state): 19.0.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

release(isr): 19.0.0
  libs/isr/CHANGELOG.md
  libs/isr/package.json
Due: isr

fix: replace toObservableMicrotask private API with proper solution
  libs/cdk/internals/core/src/index.ts
  libs/cdk/internals/core/src/lib/toObservableMicrotask.ts
  libs/state/src/lib/rx-state.service.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
Due: state, template, cdk

feat(template): introduce rx-virtual-view
  apps/demos/src/app/features/template/template-shell.menu.ts
  apps/demos/src/app/features/template/template-shell.module.ts
  apps/demos/src/app/features/template/virtual-view/virtual-content.component.ts
  apps/demos/src/app/features/template/virtual-view/virtual-item.component.ts
  apps/demos/src/app/features/template/virtual-view/virtual-placeholder.component.ts
  apps/demos/src/app/features/template/virtual-view/virtual-view-demo.component.ts
  apps/demos/src/app/features/template/virtual-view/virtual-view.menu.ts
  apps/demos/src/app/features/template/virtual-view/virtual-view.routes.ts
  libs/template/.eslintrc.json
  libs/template/virtual-view/ng-package.json
  libs/template/virtual-view/src/index.ts
  libs/template/virtual-view/src/lib/model.ts
  libs/template/virtual-view/src/lib/resize-observer.ts
  libs/template/virtual-view/src/lib/virtual-view-cache.ts
  libs/template/virtual-view/src/lib/virtual-view-observer.directive.ts
  libs/template/virtual-view/src/lib/virtual-view-placeholder.directive.ts
  libs/template/virtual-view/src/lib/virtual-view-template.directive.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
  tsconfig.base.json
Due: template

feat(template): add jsdocs and token-based configuration
  libs/template/virtual-view/src/lib/model.ts
  libs/template/virtual-view/src/lib/virtual-view-cache.ts
  libs/template/virtual-view/src/lib/virtual-view.config.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

refactor(template): improve error handling
  libs/template/virtual-view/src/lib/virtual-view-cache.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

fix(template): properly handle subscriptions & cleanup
  libs/template/virtual-view/src/lib/virtual-view-observer.directive.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

feat(template): make virtual-view use config defaults
  libs/template/virtual-view/src/lib/virtual-view.config.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

feat(template): add more docs for directives
  libs/template/virtual-view/src/lib/virtual-view-observer.directive.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

feat(template): add developer preview jsdoc
  libs/template/virtual-view/src/lib/resize-observer.ts
  libs/template/virtual-view/src/lib/virtual-view-cache.ts
  libs/template/virtual-view/src/lib/virtual-view-observer.directive.ts
  libs/template/virtual-view/src/lib/virtual-view-placeholder.directive.ts
  libs/template/virtual-view/src/lib/virtual-view-template.directive.ts
  libs/template/virtual-view/src/lib/virtual-view.config.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

feat(template): add sample docs
  apps/docs/docs/template/api/virtual-view-directive.mdx
Due: none

docs(template): improve virtual view docs
  apps/docs/docs/template/api/virtual-view-directive.mdx
Due: none

docs(template): improve virtual view docs
  apps/docs/docs/template/api/virtual-view-directive.mdx
  apps/docs/static/img/template/rx-virtual-view/rx-virtual-view.jpg
Due: none

fix(template): rxjs 6 compat
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

refactor(template): improve config typing
  libs/template/virtual-view/src/lib/virtual-view-cache.ts
  libs/template/virtual-view/src/lib/virtual-view.config.ts
Due: template

fix(template): destroy cached views
  libs/template/virtual-view/src/lib/virtual-view-cache.ts
Due: template

refactor(template): improve virtual view config typings
  libs/template/virtual-view/src/lib/virtual-view.config.ts
Due: template

perf(template): fix memory leaks in view cache
  libs/template/virtual-view/src/lib/virtual-view-cache.ts
Due: template

refactor(template): remove rxjs 7 only apis
  libs/template/virtual-view/src/lib/resize-observer.ts
  libs/template/virtual-view/src/lib/virtual-view-observer.directive.ts
Due: template

fix(template): fix memory leaks in observers
  libs/template/virtual-view/src/lib/resize-observer.ts
  libs/template/virtual-view/src/lib/virtual-view-observer.directive.ts
Due: template

refactor(template): lazy subscribe to observer
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

test(template): implement basic tests for virtual view
  libs/template/virtual-view/src/lib/tests/virtual-view.directive.spec.ts
Due: template

docs(state): update "work with hostbindings" guide with functional approach
  apps/docs/docs/state/integrations/resuse-ngrx-selectors-to-compose-state.mdx
  apps/docs/docs/state/recipes/use-rxstate-as-global-state.mdx
  apps/docs/docs/state/recipes/work-with-hostbindings.md
  apps/docs/docs/state/recipes/work-with-hostbindings.mdx
Due: none

docs(state): update "run partial updates" guide with functional approach
  apps/docs/docs/state/recipes/run-partial-updates.md
  apps/docs/docs/state/recipes/run-partial-updates.mdx
Due: none
