Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

chore: adjust release branch
  libs/template/project.json
Due: template

release(template): 16.1.2
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

release(template): 17.0.1
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

feat(cdk): add native `postTask` scheduling support
  libs/cdk/internals/scheduler/src/lib/scheduler.ts
Due: cdk

fix(cdk): use `globalThis` instead of `ɵglobal` in zone-config
  libs/cdk/zone-configurations/src/lib/zone-config.ts
Due: cdk

feat(cdk): add native `postTask` scheduling support
  libs/cdk/internals/scheduler/src/lib/scheduler-post-task.spec.ts
  libs/cdk/internals/scheduler/src/lib/scheduler-post-task.ts
  libs/cdk/internals/scheduler/src/lib/schedulerPriorities.ts
Due: cdk

feat(cdk): add native `postTask` scheduling support
  libs/cdk/internals/scheduler/src/index.ts
  libs/cdk/render-strategies/src/lib/concurrent-strategies.ts
Due: cdk

feat(cdk): add native `postTask` scheduling support
  libs/cdk/render-strategies/src/lib/concurrent-strategies.ts
  libs/cdk/render-strategies/src/lib/model.ts
Due: cdk

Make clear that non-negated and negated events should not be combined
  apps/docs/docs/template/api/unpatch-directive.md
Due: none

feat: unpatch validate input in devmode
  libs/template/unpatch/src/lib/unpatch.directive.ts
Due: template

Change `ui.greet()` to `ui.greet($event.target.value)` in actions.mdx
  apps/docs/docs/state/actions/actions.mdx
Due: none

docs: fix `ui.greet()` to `ui.greet($event.target.value)` in actions.mdx (#1675)
  apps/docs/docs/state/actions/actions.mdx
Due: none

Update local-variables.md to include `*ngIf="num$ as n"`
  apps/docs/docs/template/concepts/local-variables.md
Due: none

docs(state): readable generic names
  .eslintrc.json
  libs/state/src/lib/rx-state.service.ts
Due: state

feat: add ssr-isr app for testing
  apps/ssr-isr/.eslintrc.json
  apps/ssr-isr/project.json
  apps/ssr-isr/server.ts
  apps/ssr-isr/src/app/app.component.ts
  apps/ssr-isr/src/app/app.config.server.ts
  apps/ssr-isr/src/app/app.config.ts
  apps/ssr-isr/src/app/app.routes.ts
  apps/ssr-isr/src/app/dynamic.component.ts
  apps/ssr-isr/src/app/static.component.ts
  apps/ssr-isr/src/favicon.ico
  apps/ssr-isr/src/index.html
  apps/ssr-isr/src/main.server.ts
  apps/ssr-isr/src/main.ts
  apps/ssr-isr/src/styles.scss
  apps/ssr-isr/tsconfig.app.json
  apps/ssr-isr/tsconfig.editor.json
  apps/ssr-isr/tsconfig.json
  libs/isr/package.json
  package.json
Due: isr

feat: update isr to be used with application builder
  apps/docs/docs/isr/getting-started.md
  apps/ssr-isr/src/assets/.gitkeep
  libs/isr/.eslintrc.json
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.ts
  libs/isr/server/src/cache-regeneration.ts
  libs/isr/server/src/http-errors.interceptor.ts
  libs/isr/server/src/index.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/provide-isr.ts
  libs/isr/server/src/utils/render-url.ts
  package.json
Due: isr

fix: remove nx executor
  apps/ssr-isr/project.json
Due: none

test(isr): add basic e2e tests
  apps/ssr-isr/cypress.config.ts
  apps/ssr-isr/cypress/e2e/app.cy.ts
  apps/ssr-isr/cypress/support/commands.ts
  apps/ssr-isr/cypress/support/e2e.ts
  apps/ssr-isr/cypress/tsconfig.json
  apps/ssr-isr/project.json
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

refactor(isr): use relative path in server entry-point
  libs/isr/server/src/http-errors.interceptor.ts
Due: isr

release(isr): 17.1.0
  libs/isr/CHANGELOG.md
  libs/isr/package.json
Due: isr

fix: add invalidate example
  apps/ssr-isr/src/app/app.component.ts
Due: none

fix: add prerender isr example
  apps/ssr-isr/server.ts
Due: none

fix(template): use constructor injection for templateRef. fixes #1616
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
Due: template

chore: add eslint-plugin-simple-import-sort
  .eslintrc.json
  package.json
  yarn.lock
Due: none

chore: add eslint-plugin-unused-imports
  .eslintrc.json
  package.json
  yarn.lock
Due: none

chore: run lint for ununsed imports with --fix
  libs/cdk/internals/scheduler/src/lib/scheduler.ts
  libs/cdk/internals/scheduler/src/lib/schedulerMinHeap.ts
  libs/cdk/render-strategies/src/lib/strategy-handling.ts
  libs/cdk/template/spec/fixtures.ts
  libs/state/actions/src/lib/docs.spec.ts
  libs/state/actions/src/lib/rx-actions.spec.ts
  libs/state/effects/src/lib/types.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-window.directive.ts
  libs/template/experimental/virtual-scrolling/tests/fixtures.ts
  libs/template/let/src/lib/tests/let.directive.strategy.spec.ts
Due: state, template, cdk

chore: sort rule adding new line on eslint --fix on imports
  .eslintrc.json
Due: none

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
  isr: any of: libs/isr
