Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

fix: pass response object to serveFromCache function
  apps/ssr-isr/server.ts
Due: none

feat(demos): add scroll to demo
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.menu.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-scrollto-demo.component.ts
Due: none

fix(template): wait for scroll until container is init. fixes #1779
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
Due: template

docs(cdk): update version compatibility table
  libs/cdk/README.md
Due: cdk

docs(state): update version compatibility table
  libs/state/README.md
Due: state

docs(template): update version compatibility table
  libs/template/README.md
Due: template

feat(state): expose asReadOnly() when create state instance using functional approach
  libs/state/spec/rx-state.spec.ts
  libs/state/src/lib/rx-state.ts
Due: state

fix(template): enforce absolute positioned children. fixes #1783
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.scss
Due: template

docs(isr): add version compatibility table
  libs/isr/README.md
Due: isr

fix(template): properly calculate anchorItem
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
Due: template

release(state): 18.1.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

release(template): 18.0.3
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

feat(state): use signals internally as state accumulator
  libs/state/selections/spec/accumulation-observable.spec.ts
  libs/state/selections/src/index.ts
  libs/state/selections/src/lib/accumulation-observable.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

feat(state): clean up
  libs/state/spec/rx-state.spec.ts
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/signal-state-proxy.ts
Due: state

chore(state): reformat
  libs/state/src/lib/rx-state.service.ts
Due: state

feat: let cache handler handle cache html either buffer or string
  libs/isr/models/src/cache-handler.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.ts
  libs/isr/server/src/cache-handlers/in-memory-cache-handler.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/compression-utils.ts
Due: isr

docs: how to use buffer in redis and compressHtml callback
  apps/docs/docs/isr/cache-handlers.md
  apps/docs/docs/isr/cache-hooks.md
  libs/isr/models/src/cache-handler.ts
  libs/isr/models/src/isr-handler-config.ts
Due: isr

chore(state): run format:write
  apps/docs/docs/state/integrations/manage-entities-using-ngrx-entity.mdx
  apps/docs/docs/state/integrations/resuse-ngrx-selectors-to-compose-state.mdx
  apps/docs/docs/state/recipes/load-data-on-route-change.mdx
  apps/docs/docs/state/recipes/manage-viewmodel.mdx
  apps/docs/docs/state/recipes/run-partial-updates.mdx
  apps/docs/docs/state/recipes/use-rxstate-as-global-state.mdx
  apps/docs/docs/state/recipes/work-with-hostbindings.mdx
  apps/docs/docs/state/tutorials/migrating-to-rxstate.mdx
Due: none

docs(isr): add compression support for caching
  apps/docs/docs/isr/compression.md
  libs/isr/models/src/cache-handler.ts
Due: isr

docs(isr): add isr handler configuration documentation #1767
  apps/docs/docs/isr/irs-configuration.md
Due: none

fix(docs): replace dead link to event loop
  apps/docs/docs/cdk/render-strategies/strategies/basic-strategies.md
Due: none

chore: use manual complete-ci-run
  .github/workflows/build-and-test.yml
Due: none

chore: improve agent setup
  .github/workflows/build-and-test.yml
  nx.json
Due: none

chore: reduce CI complexity. use nx cloud agents
  .github/actions/setup/action.yml
  .github/workflows/build-and-test.yml
  .nx/workflows/dynamic-changesets.yml
  nx.json
Due: none

chore: improve agent setup
  .github/workflows/build-and-test.yml
  .nx/workflows/dynamic-changesets.yml
Due: none

chore: improve agent setup
  .nx/workflows/dynamic-changesets.yml
Due: none

chore: reduce CI complexity. use nx cloud agents (#1749)
  .github/actions/setup/action.yml
  .github/workflows/build-and-test.yml
  .nx/workflows/dynamic-changesets.yml
  nx.json
Due: none

chore: upgrade to nx 20
  .gitignore
  .prettierignore
  nx.json
  package.json
  yarn.lock
Due: none

chore: use a minimum of 3 agents
  .nx/workflows/dynamic-changesets.yml
Due: none

chore: use newer download-artifact version
  .github/workflows/build-and-test.yml
Due: none

feat(demos): implement rxChunk demo
  apps/demos/src/app/features/template/chunk/basic/rx-chunk-basic.component.ts
  apps/demos/src/app/features/template/chunk/basic/rx-chunk-basic.module.ts
  apps/demos/src/app/features/template/chunk/rx-chunk-demo.module.ts
  apps/demos/src/app/features/template/chunk/rx-chunk.menu.ts
  apps/demos/src/app/features/template/chunk/rx-chunk.routes.ts
  apps/demos/src/app/features/template/template-shell.menu.ts
  apps/demos/src/app/features/template/template-shell.module.ts
  apps/demos/src/app/shared/debug-helper/visualizer/visualizer/work-visualizer.component.ts
Due: none

feat(template): introduce rxChunk directive
  libs/template/chunk/ng-package.json
  libs/template/chunk/src/index.ts
  libs/template/chunk/src/lib/chunk.directive.ts
  libs/template/chunk/src/lib/tests/chunk.directive.spec.ts
  tsconfig.base.json
Due: template

chore: fix lint after upgrade
  .eslintrc.json
  apps/ssr-isr/cypress/support/commands.ts
  apps/ssr/cypress/support/commands.ts
  libs/cdk/coalescing/src/lib/model.ts
  libs/cdk/internals/scheduler/src/lib/scheduler.spec.ts
  libs/cdk/render-strategies/src/lib/model.ts
  libs/cdk/zone-configurations/src/lib/zone-config.ts
  libs/isr/server/src/isr-logger.ts
  libs/state/actions/src/lib/actions.factory.ts
  libs/state/actions/src/lib/rx-actions.spec.ts
  libs/state/actions/src/lib/rx-actions.ts
  libs/state/actions/src/lib/types.ts
  libs/state/perf/core/transformation-helpers/one-of.suite.ts
  package.json
  yarn.lock
Due: state, cdk, isr

chore: patch docusaurus plugin
  .yarn/patches/@nx-plus-docusaurus-npm-14.1.0-b526e34c01.patch
  package.json
  yarn.lock
Due: none

chore: ignore .yarn from eslint & prettier
  .eslintignore
  .prettierignore
Due: none

feat(isr): add custom cache key generation logic
  libs/isr/models/src/index.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/cache-utils.spec.ts
  libs/isr/server/src/utils/cache-utils.ts
Due: isr

refactor(isr): use CacheKey instead of route / url for naming
  libs/isr/models/src/cache-handler.ts
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.spec.ts
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.ts
  libs/isr/server/src/cache-handlers/in-memory-cache-handler.ts
Due: isr

fix(isr): fix eslint issue
  libs/isr/server/src/isr-handler.ts
Due: isr

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
  isr: any of: libs/isr
