Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

refactor(state): prettify
  apps/docs/docs/state/setup.mdx
Due: none

docs(state): drop FAQ page
  apps/docs/docs/state/faq/faq.md
Due: none

docs(state): update main readme example
  README.md
Due: none

docs(state): remove legacy APIs links
  libs/state/README.md
Due: state

refactor(docs): display list style
  apps/docs/src/pages/index.module.css
Due: none

test(state): re-add ngOnDestroy test
  libs/state/src/lib/rx-state.spec.ts
Due: state

docs(state): update testing section
  apps/docs/docs/state/testing/testing.md
  apps/docs/docs/state/testing/testing.mdx
  libs/state/src/lib/rx-state.docs.spec.ts
Due: state

docs(state): minor change
  apps/docs/docs/state/setup.mdx
Due: none

test(state): use jest matcher
  libs/state/src/lib/rx-state.docs.spec.ts
Due: state

feat(state): make state readonly
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

test(state): make get mutable
  libs/state/spec/rx-state.service.spec.ts
Due: state

docs: add the $implicit to rx-if docs
  apps/docs/docs/template/api/rx-if-directive.md
Due: none

docs: fix link
  apps/docs/docs/state/api/functional-rx-state.md
Due: none

test(state): fix action tests
  libs/state/actions/src/lib/actions.factory.spec.ts
  libs/state/actions/src/lib/actions.factory.ts
  libs/state/actions/src/lib/rx-actions.spec.ts
Due: state

feat(state): expose new rxActions functional API
  libs/state/actions/src/index.ts
Due: state

feat(state): make sideEffectFn optional in ActionEffects
  libs/state/actions/src/lib/rx-actions.spec.ts
  libs/state/actions/src/lib/types.ts
Due: state

fix(state): fix build
  libs/state/actions/src/lib/actions.factory.ts
Due: state

docs(state): fix wrong link to rx state
  apps/docs/docs/state/actions/actions.mdx
Due: none

test(state): fix register return type + add unRegister spec
  libs/state/effects/src/lib/rx-effects.spec.ts
  libs/state/effects/src/lib/rx-effects.ts
Due: state

release(state): 16.1.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

docs: update examples
  README.md
Due: none

docs: add isr to table section
  README.md
Due: none

chore: allow revert commit type
  .commitlintrc.json
Due: none

revert: make state.get return readonly
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

chore: bump Nx to v17.0.0
  .gitignore
  .prettierignore
  libs/cdk/project.json
  libs/eslint-plugin/project.json
  libs/isr/project.json
  libs/state/project.json
  libs/template/project.json
  libs/test-helpers/project.json
  migrations.json
  nx.json
  package.json
  yarn.lock
Due: state, template, cdk, eslint-plugin, isr

chore(ci): drop workspace-lint + update affected
  .github/workflows/build-and-test.yml
  package.json
Due: none

chore: cache lint outputs
  libs/cdk/project.json
  libs/state/project.json
  libs/template/project.json
Due: state, template, cdk

chore: fix isr + eslint-plugin coverage
  libs/eslint-plugin/project.json
  libs/isr/jest.config.ts
  libs/isr/project.json
Due: eslint-plugin, isr

chore(ci): factorize coverage
  .github/workflows/build-and-test.yml
Due: none

chore: update labeler config
  .github/labeler.yml
Due: none

test(state): drop meaningless test
  libs/state/effects/src/lib/docs.spec.ts
Due: state

chore: remove migrations.json
  migrations.json
Due: none

chore: drop `updateBuildableProjectDepsInPackageJson` option
  libs/cdk/project.json
  libs/eslint-plugin/project.json
  libs/isr/project.json
  libs/state/project.json
  libs/template/project.json
  libs/test-helpers/project.json
Due: state, template, cdk, eslint-plugin, isr

chore(ci): run tasks on agents
  .github/workflows/build-and-test.yml
Due: none

chore(ci): add env vars + better checkout
  .github/workflows/build-and-test.yml
Due: none

chore(ci): exclude docs
  .github/workflows/build-and-test.yml
Due: none

chore(ci): bump nx-set-shas to v4
  .github/actions/setup/action.yml
Due: none

chore: drop release poc
  .github/poc/release.yml
Due: none

release(state): 16.1.1
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
  isr: any of: libs/isr
