Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

fix: format
  apps/docs/docs/isr/getting-started.md
Due: none

Update apps/docs/docs/isr/getting-started.md
  apps/docs/docs/isr/getting-started.md
Due: none

Update libs/isr/models/src/isr-handler-config.ts
  libs/isr/models/src/isr-handler-config.ts
Due: isr

fix(isr): fix formatting
  libs/isr/server/src/isr-handler.ts
Due: isr

feat(isr): add allowed query params options #1743 (#1757)
  apps/docs/docs/isr/getting-started.md
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-regeneration.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/cache-utils.spec.ts
  libs/isr/server/src/utils/cache-utils.ts
Due: isr

feat(isr): update the example to show modifyGeneratedHtml usage
  apps/ssr-isr/server.ts
  apps/ssr-isr/src/app/dynamic.component.ts
Due: none

refactor(isr): rename CacheRegeneration to CacheGeneration
  libs/isr/server/src/cache-generation.ts
Due: isr

fix(isr): handle modifyGeneratedHtml behavior consistantly #1758
  apps/docs/docs/isr/cache-hooks.md
  libs/isr/models/src/index.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/modify-generated-html.ts
  libs/isr/server/src/utils/cache-utils.ts
Due: isr

refactor(isr): use modifyGeneratedHtml instead
  libs/isr/server/src/cache-handlers/in-memory-cache-handler.ts
Due: isr

refactor(isr): rename CacheRegeneration to CacheGeneration
  libs/isr/server/src/cache-regeneration.ts
  libs/isr/server/src/isr-handler.ts
Due: isr

fix(isr): small fixes
  apps/docs/docs/isr/cache-hooks.md
  apps/ssr-isr/server.ts
  libs/isr/models/src/index.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/modify-generated-html.ts
Due: isr

fix(isr): use modifyGeneratedHtml in all cache generation process (#1760)
  apps/docs/docs/isr/cache-hooks.md
  apps/ssr-isr/server.ts
  apps/ssr-isr/src/app/dynamic.component.ts
  libs/isr/models/src/index.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/cache-handlers/in-memory-cache-handler.ts
  libs/isr/server/src/cache-regeneration.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/modify-generated-html.ts
  libs/isr/server/src/utils/cache-utils.ts
Due: isr

fix(isr): fix breaking changes with the new modifyGeneratedHtml config
  apps/ssr-isr/server.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/modify-generated-html.ts
Due: isr

fix(isr): fix breaking changes with the new modifyGeneratedHtml config (#1766)
  apps/ssr-isr/server.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/modify-generated-html.ts
Due: isr

feat(isr): added background revalidation and non-blocking render
  apps/ssr-isr/server.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.ts
  libs/isr/server/src/isr-handler.ts
Due: isr

fixup! feat(isr): added background revalidation and non-blocking render
  apps/ssr-isr/server.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/isr-handler.ts
Due: isr

fixup! feat(isr): added background revalidation and non-blocking render
  libs/isr/server/src/isr-handler.ts
Due: isr

chore: remove --parallel from ci
  .github/workflows/build-and-test.yml
Due: none

chore: setup e2e atomizer
  .github/workflows/build-and-test.yml
  apps/ssr-isr/cypress.config.ts
  apps/ssr-isr/project.json
  apps/ssr/cypress.config.ts
  apps/ssr/project.json
  nx.json
Due: none

fix: merging issue
  libs/isr/server/src/isr-handler.ts
Due: isr

chore: upgrade yarn to v4
  .github/actions/setup/action.yml
  .gitignore
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  libs/cdk/package.json
  libs/eslint-plugin/package.json
  libs/state/package.json
  libs/template/package.json
  libs/test-helpers/package.json
  package.json
  yarn.lock
Due: state, template, cdk, eslint-plugin

feat(isr): add compression
  apps/ssr-isr/server.ts
  libs/isr/models/src/index.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/compress-html.ts
  libs/isr/server/src/index.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/compression-utils.ts
  package.json
  yarn.lock
Due: isr

fix(isr): fix eslint issue
  libs/isr/server/src/isr-handler.ts
Due: isr

fix(template): properly calc sizes when resizeobserver adjust viewport (#1759)
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.menu.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-crazy-update.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
Due: template

release(template): 18.0.2
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

release(isr): 18.1.0
  libs/isr/CHANGELOG.md
  libs/isr/package.json
Due: isr

feat(isr): add custom cache key generation logic
  libs/isr/models/src/index.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/cache-utils.spec.ts
  libs/isr/server/src/utils/cache-utils.ts
Due: isr

refactor(isr): use CacheKey instead of route / url for naming
  libs/isr/models/src/cache-handler.ts
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.spec.ts
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.ts
  libs/isr/server/src/cache-handlers/in-memory-cache-handler.ts
Due: isr

docs: fix typo in notofications
  apps/docs/docs/cdk/notifications/notifications.mdx
Due: none

feat: add pluggable logger
  apps/ssr-isr/server.ts
  libs/isr/models/src/index.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/models/src/logger.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/isr-logger.ts
Due: isr

docs: use correct discord invite link
  apps/docs/docusaurus.config.js
Due: none

chore: update yarn lock
  yarn.lock
Due: none

fix: format
  libs/isr/server/src/cache-generation.ts
Due: isr

docs(state): fix link to the migration guide for using the functional API
  libs/state/README.md
Due: state

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
  isr: any of: libs/isr
