Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

feat(demos): add new virtual-for demo
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.menu.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-monkey-test.component.ts
Due: none

release(template): 18.0.1
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

fix(isr): handle response sent in render
  apps/ssr-isr/project.json
  apps/ssr-isr/server.ts
  apps/ssr-isr/src/app/app.routes.ts
  apps/ssr-isr/src/app/redirect.component.ts
  libs/isr/server/src/isr-handler.ts
Due: isr

chore: reduce CI complexity. use nx cloud agents
  .github/actions/setup/action.yml
  .github/workflows/build-and-test.yml
  .nx/workflows/dynamic-changesets.yml
  nx.json
Due: none

chore: improve agent setup
  .github/workflows/build-and-test.yml
  .nx/workflows/dynamic-changesets.yml
Due: none

chore: improve agent setup
  .github/workflows/build-and-test.yml
  nx.json
Due: none

chore: improve agent setup
  .nx/workflows/dynamic-changesets.yml
Due: none

chore(isr): refactor IsrService patchState method
  libs/isr/browser/src/isr.service.ts
Due: isr

chore(isr): update CacheHandler and IsrServiceInterface typings
  libs/isr/models/src/cache-handler.ts
  libs/isr/models/src/isr-service.interface.ts
Due: isr

fix(isr): filter urlsOnHold by cacheKey instead of url
  libs/isr/server/src/cache-regeneration.ts
Due: isr

refactor: fix eslint issues
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.ts
  libs/isr/server/src/cache-handlers/in-memory-cache-handler.ts
  libs/isr/server/src/cache-regeneration.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/isr-logger.ts
  libs/isr/server/src/isr-server.service.ts
  libs/isr/server/src/isr.module.ts
  libs/isr/server/src/provide-isr.ts
  libs/isr/server/src/utils/add-isr-data-before-serialized.ts
  libs/isr/server/src/utils/get-isr-options.ts
  libs/isr/server/src/utils/render-url.ts
Due: isr

feat: add allowed query params options #1743
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-regeneration.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/cache-utils.spec.ts
  libs/isr/server/src/utils/cache-utils.ts
Due: isr

feat: handle query string for filesystem cache #1690
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.spec.ts
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.ts
Due: isr

fix(isr): in memory cache handler should use extends #1736
  libs/isr/server/src/cache-handlers/in-memory-cache-handler.ts
Due: isr

release(isr): 18.0.3
  libs/isr/CHANGELOG.md
  libs/isr/package.json
Due: isr

fix: format
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.ts
Due: isr

refactor(isr): rename CacheRegeneration to CacheGeneration
  libs/isr/server/src/cache-regeneration.ts
  libs/isr/server/src/isr-handler.ts
Due: isr

refactor(isr): rename CacheRegeneration to CacheGeneration
  libs/isr/server/src/cache-generation.ts
Due: isr

fix(template): virtual-scroll: calc sizes on resizeobserver changes
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
Due: template

feat(demos): add another user based test scenario
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.menu.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-crazy-update.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
Due: none

fix(isr): handle modifyGeneratedHtml behavior consistantly #1758
  apps/docs/docs/isr/cache-hooks.md
  libs/isr/models/src/index.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/modify-generated-html.ts
  libs/isr/server/src/utils/cache-utils.ts
Due: isr

refactor(isr): use modifyGeneratedHtml instead
  libs/isr/server/src/cache-handlers/in-memory-cache-handler.ts
Due: isr

feat(isr): update the example to show modifyGeneratedHtml usage
  apps/ssr-isr/server.ts
  apps/ssr-isr/src/app/dynamic.component.ts
Due: none

feat(isr): add non-blocking-render option
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-generation.ts
Due: isr

feat(isr): add background revalidation option
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/isr-handler.ts
Due: isr

feat(isr): enable background revalidation and non-blocking render
  apps/ssr-isr/server.ts
Due: none

feat(isr): add compression #1755
  apps/ssr-isr/server.ts
  libs/isr/models/src/index.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/compress-html.ts
  libs/isr/server/src/index.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/compression-utils.ts
  package.json
  yarn.lock
Due: isr

chore(isr): rename HTML compression method
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/compression-utils.ts
Due: isr

refactor(isr): fix eslint issues (#1752)
  libs/isr/models/src/cache-handler.ts
  libs/isr/models/src/isr-service.interface.ts
  libs/isr/server/src/cache-handlers/filesystem-cache-handler.ts
  libs/isr/server/src/cache-handlers/in-memory-cache-handler.ts
  libs/isr/server/src/cache-regeneration.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/isr-logger.ts
  libs/isr/server/src/isr-server.service.ts
  libs/isr/server/src/isr.module.ts
  libs/isr/server/src/provide-isr.ts
  libs/isr/server/src/utils/add-isr-data-before-serialized.ts
  libs/isr/server/src/utils/get-isr-options.ts
  libs/isr/server/src/utils/render-url.ts
Due: isr

feat(isr): add allowed query params options #1743
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-regeneration.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/cache-utils.spec.ts
  libs/isr/server/src/utils/cache-utils.ts
Due: isr

docs(isr): add doc for allowed query params option
  apps/docs/docs/isr/getting-started.md
Due: none

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
  isr: any of: libs/isr
