Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

test(state): add accumulator DI spec
  libs/state/selections/spec/accumulation-observable.spec.ts
Due: state

refactor(state): rename token to `RX_ACCUMULATOR_FN`
  libs/state/selections/spec/accumulation-observable.spec.ts
  libs/state/selections/src/index.ts
  libs/state/selections/src/lib/accumulation-observable.ts
Due: state

docs(state): add section about configuration to state docs
  apps/docs/docs/state/actions/actions.mdx
  apps/docs/docs/state/getting-started.mdx
Due: none

release(state): 17.2.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

docs(state): add missing jsdocs
  libs/state/src/lib/rx-state.service.ts
Due: state

docs: add how to release guide
  CONTRIBUTING.md
  docs/how-to-release.md
Due: none

release(eslint-plugin): 2.1.0
  libs/eslint-plugin/CHANGELOG.md
  libs/eslint-plugin/package.json
Due: eslint-plugin

docs: fix link check
  CONTRIBUTING.md
Due: none

refactor(cdk): drop unused scheduler APIs
  libs/cdk/internals/scheduler/src/lib/scheduler.spec.ts
  libs/cdk/internals/scheduler/src/lib/scheduler.ts
  libs/cdk/internals/scheduler/src/lib/schedulerFeatureFlags.ts
Due: cdk

release(template): 17.3.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

fix(docs): update of format:write
  apps/docs/docs/cdk/render-strategies/strategies/concurrent-strategies.md
  apps/docs/docs/template/api/unpatch-directive.md
Due: none

fix(template): virtual-for: properly calculate stable state
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
Due: template

release(template): 17.3.1
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

fix(docs): fix typos (#1717)
  apps/docs/docs/cdk/render-strategies/strategies/concurrent-strategies.md
  apps/docs/docs/template/api/unpatch-directive.md
  apps/docs/docs/template/performance-issues/change-detection-over-pipes.md
Due: none

fix: meta tags for docusaurus
  apps/docs/docusaurus.config.js
Due: none

feat(template): unpatch all but specified events
  apps/docs/docs/template/api/unpatch-directive.md
  libs/template/unpatch/src/lib/tests/unpatch.directive.spec.ts
  libs/template/unpatch/src/lib/unpatch.directive.ts
Due: template

feat(template): set the parent flag to false by default
  apps/docs/docs/template/api/rx-for-directive.mdx
  libs/cdk/render-strategies/src/lib/config.ts
Due: cdk

chore: add missing @angular/build dev dependency
  package.json
  yarn.lock
Due: none

chore: update CI to node 20
  .github/actions/setup/action.yml
Due: none

release(cdk): 18.0.0
  libs/cdk/CHANGELOG.md
Due: cdk

release(template): 18.0.0
  libs/template/CHANGELOG.md
Due: template

release(state): 18.0.0
  libs/state/CHANGELOG.md
Due: state

release(isr): 18.0.0
  libs/isr/CHANGELOG.md
Due: isr

fix: slogan change, code polishing
  apps/docs/docusaurus.config.js
Due: none

fix(isr): invalidation issue with url
  libs/isr/server/src/utils/render-url.ts
Due: isr

docs: add meta tags
  apps/docs/docusaurus.config.js
Due: none

release(isr): 18.0.1
  libs/isr/CHANGELOG.md
  libs/isr/package.json
Due: isr

fix(isr): handle response sent in render
  apps/ssr-isr/project.json
  apps/ssr-isr/server.ts
  apps/ssr-isr/src/app/app.routes.ts
  apps/ssr-isr/src/app/redirect.component.ts
  libs/isr/server/src/isr-handler.ts
Due: isr

fix(isr): refactor regeneration function
  libs/isr/server/src/cache-regeneration.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/cache-utils.ts
Due: isr

fix(isr): fix import path
  libs/isr/server/src/utils/cache-utils.ts
Due: isr

release(isr): 18.0.2
  libs/isr/CHANGELOG.md
  libs/isr/package.json
Due: isr

fix(template): fix possibly undefined size in getItemSize
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
Due: template

fix(template): fix possibly undefined in observe view size
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
Due: template

fix(template): properly calculate range & anchor when values reset
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
Due: template

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
  isr: any of: libs/isr
