Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

docs: harmonize projects README
  libs/cdk/README.md
  libs/isr/README.md
  libs/state/README.md
  libs/template/README.md
Due: state, template, cdk, isr

fix(template): fix view calculation in dynamic-size strategy
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
Due: template

fix(template): properly unsubscribe from scroll event
  libs/template/experimental/virtual-scrolling/src/lib/util.ts
Due: template

chore: bump semver to v4
  libs/cdk/project.json
  libs/isr/project.json
  libs/state/project.json
  libs/template/project.json
  package.json
  yarn.lock
Due: state, template, cdk, isr

release(template): 16.1.1
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

docs: drop basic tutorials
  apps/docs/docs/state/concepts-and-best-practices/reactive-terminology.md
  apps/docs/docs/state/tutorials/basic-tutorial/01-setup.md
  apps/docs/docs/state/tutorials/basic-tutorial/02-input-bindings.md
  apps/docs/docs/state/tutorials/basic-tutorial/03-output-bindings.md
  apps/docs/docs/state/tutorials/basic-tutorial/04-global-state.md
  apps/docs/docs/state/tutorials/basic-tutorial/05-side-effects.md
  apps/docs/docs/state/tutorials/basic-tutorial/06-presenter-pattern.~md
  apps/docs/docs/state/tutorials/basic-tutorial/_category_.json
Due: none

docs: update increment a value tutorial
  apps/docs/docs/state/tutorials/increment-a-value.md
Due: none

feat(state): introduce signal APIs for RxState
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/rx-state.spec.ts
  libs/state/src/lib/rx-state.ts
  libs/state/src/lib/signal-state-proxy.ts
Due: state

feat(demos): introduce signal state demo
  apps/demos/src/app/app-component/app.menu.ts
  apps/demos/src/app/app-component/app.routes.ts
  apps/demos/src/app/features/state/signal-state/signal-state.component.ts
  apps/demos/src/app/features/state/state-shell.menu.ts
  apps/demos/src/app/features/state/state-shell.module.ts
Due: none

test(state): improve signal spec
  libs/state/src/lib/rx-state.spec.ts
Due: state

refactor(state): properly name signalState creation function
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/signal-state-proxy.ts
Due: state

test: use `rxState` for SSR specs
  apps/ssr-e2e/src/e2e/app.cy.ts
  apps/ssr/src/app/app.component.ts
Due: none

chore: move e2e in ssr app
  apps/ssr-e2e/project.json
  apps/ssr-e2e/tsconfig.json
  apps/ssr/.eslintrc.json
  apps/ssr/cypress.config.ts
  apps/ssr/cypress/e2e/app.cy.ts
  apps/ssr/cypress/support/commands.ts
  apps/ssr/cypress/support/e2e.ts
  apps/ssr/cypress/tsconfig.json
  apps/ssr/project.json
  apps/ssr/tsconfig.json
  package.json
  yarn.lock
Due: none

chore: bump Nx to v17.0.2
  package.json
  yarn.lock
Due: none

chore: simplify scripts and project.json files
  libs/cdk/project.json
  libs/state/project.json
  libs/template/project.json
  package.json
Due: state, template, cdk

docs: new signal apis in rxState
  apps/docs/docs/state/api/functional-rx-state.md
  apps/docs/docs/state/setup.mdx
  libs/state/README.md
Due: state

feat(): add rxScheduleTask function
  apps/docs/docs/cdk/render-strategies/rx-schedule-task.md
  libs/cdk/render-strategies/spec/rx-schedule-task.spec.ts
  libs/cdk/render-strategies/src/index.ts
  libs/cdk/render-strategies/src/lib/rx-schedule-task.ts
  libs/cdk/tsconfig.spec.json
Due: cdk

chore(): revert tsconfig.spec.json
  libs/cdk/tsconfig.spec.json
Due: cdk

fix(): dead docs links
  apps/docs/docs/cdk/render-strategies/rx-schedule-task.md
Due: none

Update apps/docs/docs/cdk/render-strategies/rx-schedule-task.md
  apps/docs/docs/cdk/render-strategies/rx-schedule-task.md
Due: none

Update libs/cdk/render-strategies/src/lib/rx-schedule-task.ts
  libs/cdk/render-strategies/src/lib/rx-schedule-task.ts
Due: cdk

chore(): restructure docs
  apps/docs/docs/cdk/render-strategies/rx-schedule-task.md
Due: none

chore(): fix docs typo
  apps/docs/docs/cdk/render-strategies/rx-schedule-task.md
Due: none

chore(): rephrase the tips
  apps/docs/docs/cdk/render-strategies/rx-schedule-task.md
  apps/docs/docs/cdk/render-strategies/rx-strategy-provider.md
Due: none

chore(): rephrase tip again
  apps/docs/docs/cdk/render-strategies/rx-schedule-task.md
  apps/docs/docs/cdk/render-strategies/rx-strategy-provider.md
Due: none

feat: added computedFrom impl
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/rx-state.spec.ts
  libs/state/src/lib/rx-state.ts
Due: state

docs: added computedFrom in setup.mdx
  apps/docs/docs/state/setup.mdx
Due: none

refactor(state): properly type computedFrom
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/rx-state.spec.ts
Due: state

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
  isr: any of: libs/isr
