Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

chore: align tsconfig lib and module settings
  apps/demos/tsconfig.app.json
  libs/state/tsconfig.lib.json
  libs/template/project.json
  libs/template/tsconfig.json
  libs/template/tsconfig.lib.json
  libs/template/tsconfig.prod.json
  tsconfig.base.json
Due: state, template

feat(template): implement new reconciliation algorithm
  libs/template/for/src/index.ts
  libs/template/for/src/lib/for.config.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/for/src/lib/inject-reconciler.ts
  libs/template/for/src/lib/provide-experimental-reconciler.ts
  libs/template/for/src/lib/provide-legacy-reconciler.ts
  libs/template/for/src/lib/reconcile-factory.ts
Due: template

test(template): add tests for new reconciliation algorithm
  libs/template/for/src/lib/tests/for.directive.observable.spec.ts
  libs/template/for/src/lib/tests/for.directive.parent-notification.spec.ts
  libs/template/for/src/lib/tests/for.directive.signal.spec.ts
  libs/template/for/src/lib/tests/for.directive.spec.ts
  libs/template/for/src/lib/tests/for.directive.strategy.spec.ts
Due: template

feat(cdk): introduce new reconciliation algorithm & RxLiveCollection
  libs/cdk/template/src/index.ts
  libs/cdk/template/src/lib/list-reconciliation.ts
  libs/cdk/template/src/lib/list-template-manager.ts
  libs/cdk/template/src/lib/rx-live-collection.ts
Due: cdk

refactor(state): use DestroyRef instead of OnDestroy life cycle hook
  libs/state/src/lib/rx-state.service.ts
Due: state

refactor(state): use DestroyRef instead of OnDestroy life cycle hook
  libs/state/actions/src/lib/actions.factory.spec.ts
  libs/state/actions/src/lib/actions.factory.ts
Due: state

refactor(cdk): improve list-template-manager error messages
  libs/cdk/template/src/lib/list-template-manager.ts
Due: cdk

feat(cdk): introduce new reconciliation algorithm & RxLiveCollection
  libs/cdk/template/src/index.ts
  libs/cdk/template/src/lib/list-reconciliation.ts
  libs/cdk/template/src/lib/rx-live-collection.ts
Due: cdk

feat(demos): add reconciling comparison demo
  apps/demos/src/app/features/template/rx-for/list-actions/list-action-item.component.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.component.ts
  apps/demos/src/app/features/template/rx-for/list-actions/list-actions.module.ts
  apps/demos/src/app/features/template/rx-for/reconciliation-provider-directives.ts
  apps/demos/src/app/shared/debug-helper/value-provider/array-provider.service.ts
  apps/demos/src/app/shared/debug-helper/value-provider/array-provider/array-provider.component.ts
Due: none

refactor(state): use DestroyRef within EffectsService
  libs/state/effects/src/lib/effects.service.spec.ts
  libs/state/effects/src/lib/effects.service.ts
Due: state

fix(demos): fix wrong property assignment in NgIfHackRxLetComponent
  apps/demos/src/app/features/template/rx-let/ng-if-hack/ng-if-hack-rx-let.component.ts
Due: none

fix(demos): instantiate new rxState instance in injection context
  apps/demos/src/app/shared/debug-helper/value-provider/primitives-provider.service.ts
Due: none

refactor(demos): remove unused RxIf
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-reverse-infinite-scroll.component.ts
Due: none

chore(demos): add development config t as default for serve
  apps/demos/project.json
Due: none

chore(demos): delete unnecessary proxy config
  apps/demos/project.json
Due: none

docs(template): new reconciliation algorithm docs
  apps/docs/docs/template/rx-for-directive.mdx
  apps/docs/static/img/template/rx-for/filter-experimental.mp4
  apps/docs/static/img/template/rx-for/filter-legacy.mp4
  apps/docs/static/img/template/rx-for/shuffle-experimental.mp4
  apps/docs/static/img/template/rx-for/shuffle-legacy.mp4
  apps/docs/static/img/template/rx-for/swap-experimental.mp4
  apps/docs/static/img/template/rx-for/swap-legacy.mp4
Due: none

refactor(state): remove ngOnDestroy in RxStateService
  libs/state/spec/rx-state.component.spec.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/spec/rx-state.spec.ts
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/rx-state.ts
Due: state

refactor(demos): remove programmatic usage of ngOnDestroy
  apps/demos/src/app/features/tutorials/basics/5-side-effects/side-effects.solution.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/primitives-provider.service.ts
  apps/demos/src/app/shared/viewport.service.ts
Due: none

chore(demos): delete liveReload, watch
  apps/demos/project.json
Due: none

chore(demos): add development config, set as default for serve (#1835)
  apps/demos/project.json
Due: none

refactor(state): drop untilDestroyed operator
  libs/state/effects/src/lib/effects.service.ts
  libs/state/effects/src/lib/utils.ts
Due: state

refactor(state): use inject instead of constructor-di in RxEffects
  libs/state/effects/src/lib/effects.service.ts
Due: state

refactor(state): use map instead of deprecated mapTo
  libs/state/effects/src/lib/effects.service.ts
Due: state

test(state): drop detecting changes twice
  libs/state/spec/rx-state.spec.ts
Due: state

feat(state): allow to pass injector to rxState
  libs/state/src/lib/rx-state.ts
Due: state

feat(state): allow to pass injector to rxEffects
  libs/state/effects/src/lib/rx-effects.ts
Due: state

chore(state): add test cases for rxState options
  libs/state/spec/rx-state.spec.ts
Due: state

chore(state): add test cases for rxEffects options
  libs/state/effects/src/lib/rx-effects.spec.ts
Due: state

fix(state): improve options check on getInjectorFromOptions
  libs/state/effects/src/lib/rx-effects.ts
  libs/state/src/lib/rx-state.ts
Due: state

feat(cdk): make scheduler features configurable
  libs/cdk/internals/scheduler/src/index.ts
  libs/cdk/internals/scheduler/src/lib/scheduler.config.ts
  libs/cdk/internals/scheduler/src/lib/scheduler.ts
  libs/cdk/render-strategies/src/index.ts
  libs/cdk/render-strategies/src/lib/concurrent-strategies.ts
Due: cdk

feat(cdk): added provideRxRenderStrategies provider function
  libs/cdk/render-strategies/src/index.ts
  libs/cdk/render-strategies/src/lib/config.ts
Due: cdk

refactor(template): updated all tests to use `provideRxRenderStrategies`
  libs/cdk/template/spec/list-manager.spec.ts
  libs/cdk/template/spec/template-manager.spec.ts
  libs/template/for/src/lib/tests/for.directive.observable.spec.ts
  libs/template/for/src/lib/tests/for.directive.signal.spec.ts
  libs/template/for/src/lib/tests/for.directive.spec.ts
  libs/template/if/src/lib/tests/if.directive.context-templates.spec.ts
  libs/template/if/src/lib/tests/if.directive.context.spec.ts
  libs/template/if/src/lib/tests/if.directive.observable.spec.ts
  libs/template/if/src/lib/tests/if.directive.signal.spec.ts
  libs/template/if/src/lib/tests/if.directive.spec.ts
  libs/template/let/src/lib/tests/let.directive.complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.context.spec.ts
  libs/template/let/src/lib/tests/let.directive.error.spec.ts
  libs/template/let/src/lib/tests/let.directive.next.spec.ts
  libs/template/let/src/lib/tests/let.directive.rendered.spec.ts
  libs/template/let/src/lib/tests/let.directive.signal-set.spec.ts
  libs/template/let/src/lib/tests/let.directive.subscribable.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.signal.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-error.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-suspense.spec.ts
  libs/template/push/src/lib/tests/push.pipe.service.spec.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
  libs/template/virtual-view/src/lib/tests/virtual-view.directive.spec.ts
Due: template, cdk

docs(template): updated docs to use `provideRxRenderStrategies`
  apps/docs/docs/template/performance-issues/handling-view-and-content-queries.md
  apps/docs/docs/template/performance-issues/ngzone-optimizations.md
  apps/docs/docs/template/rx-for-directive.mdx
  apps/docs/docs/template/rx-if-directive.mdx
  apps/docs/docs/template/rx-let-directive.mdx
Due: none

docs(cdk): updated docs to use `provideRxRenderStrategies`
  apps/docs/docs/cdk/render-strategies/render-strategies.mdx
  apps/docs/docs/cdk/render-strategies/strategies/concurrent-strategies.md
  apps/docs/docs/cdk/render-strategies/strategies/strategies.mdx
Due: none

release(cdk): 19.1.0
  libs/cdk/CHANGELOG.md
  libs/cdk/internals/scheduler/src/lib/scheduler-post-task.ts
  libs/cdk/package.json
Due: cdk

release(template): 19.2.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
  isr: any of: libs/isr
