Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

test: fix jest setup
  apps/demos/src/test-setup.ts
  apps/ssr/src/test-setup.ts
  libs/cdk/coalescing/src/test-setup.ts
  libs/cdk/coercing/src/test-setup.ts
  libs/cdk/internals/core/src/test-setup.ts
  libs/cdk/internals/scheduler/src/test-setup.ts
  libs/cdk/notifications/src/test-setup.ts
  libs/cdk/src/test-setup.ts
  libs/cdk/template/spec/list-manager.spec.ts
  libs/cdk/transformations/src/test-setup.ts
  libs/cdk/zone-configurations/src/lib/zone-config.spec.ts
  libs/isr/src/test-setup.ts
  libs/state/effects/src/test-setup.ts
  libs/state/test-setup.ts
  libs/template/let/src/test-setup.ts
  libs/template/push/src/test-setup.ts
  libs/template/src/test-setup.ts
  libs/template/unpatch/src/test-setup.ts
  libs/test-helpers/src/test-setup.ts
Due: state, template, cdk, isr

chore(template): refactor imports for zoneless cd; fix tests
  apps/demos/src/app/features/concepts/global-order/push-v/v2-b.component.ts
  apps/demos/src/app/features/template/rx-let/template-triggers/template-triggers.component.html
  apps/demos/src/app/shared/template-structures/sibling/sibling-async.component.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling-progressive.component.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling-push.component.ts
  apps/demos/src/app/shared/template-structures/sibling/sibling-static.component.ts
  apps/demos/src/main.ts
  libs/template/let/src/lib/tests/let.directive.context.spec.ts
  libs/template/let/src/lib/tests/let.directive.next.spec.ts
  libs/template/let/src/lib/tests/let.directive.signal-set.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.signal.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.spec.ts
  libs/template/unpatch/src/lib/tests/unpatch.directive.spec.ts
  package.json
  yarn.lock
Due: template

chore(template): fix tests
  apps/ssr-isr/cypress.config.ts
  apps/ssr/cypress.config.ts
  libs/template/cypress.config.ts
Due: template

refactor(template): enhance unpatch directives for zoneless support
  apps/demos/src/app/features/template/unpatch/comparison/runOutsideZone.directive.ts
  libs/template/unpatch/src/lib/unpatch.directive.ts
Due: template

refactor(template): fix tests
  libs/template/let/src/lib/tests/let.directive.rendered.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.no-complete.spec.ts
  libs/template/unpatch/src/lib/tests/unpatch.directive.spec.ts
Due: template

test: Fix `NG0204: Can't resolve all parameters for TemplateRef: (?, ?, ?)
  libs/template/let/src/lib/tests/let.directive.error.spec.ts
Due: template

chore: fix test formatting
  libs/template/let/src/lib/tests/let.directive.error.spec.ts
Due: template

test(template): fix for signal tests
  libs/template/for/src/lib/tests/for.directive.signal.spec.ts
Due: template

test(template): fix let directive tests
  libs/template/let/src/lib/tests/let.directive.complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.subscribable.spec.ts
Due: template

chore: formatting
  libs/template/let/src/lib/tests/let.directive.complete.spec.ts
  libs/template/let/src/lib/tests/let.directive.subscribable.spec.ts
Due: template

chore(docs): fix link
  apps/docs/docs/isr/how-it-works.md
Due: none

chore: upgrade markdown-link-check
  package.json
  yarn.lock
Due: none

feat(cdk): bump peerDependency to @angular/core ^20
  libs/cdk/package.json
Due: cdk

feat(state): bump peerDependency to @angular/core ^20
  libs/state/package.json
Due: state

feat(template): bump peerDependency to @angular/core ^20
  libs/template/package.json
Due: template

chore: upgrade deprecated github pages actions
  .github/workflows/build-and-test.yml
Due: none

chore: upgrade yarn lock
  yarn.lock
Due: none

release(cdk): 20.0.0
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

release(template): 20.0.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

release(state): 20.0.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

feat(isr): bump peerDependency to @angular/core ^20
  libs/isr/package.json
  yarn.lock
Due: isr

feat(template): make virtual views not set a height by default
  apps/docs/docs/template/virtual-view-directive.mdx
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

refactor(isr): reorganized utils and server structure
  libs/isr/server/node/ng-package.json
  libs/isr/server/node/src/cache-generation.ts
  libs/isr/server/node/src/cache-handlers/filesystem-cache-handler.spec.ts
  libs/isr/server/node/src/cache-handlers/filesystem-cache-handler.ts
  libs/isr/server/node/src/cache-handlers/in-memory-cache-handler.ts
  libs/isr/server/node/src/cache-utils.spec.ts
  libs/isr/server/node/src/cache-utils.ts
  libs/isr/server/node/src/index.ts
  libs/isr/server/node/src/render-url.ts
  libs/isr/server/src/index.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/isr.module.ts
  libs/isr/server/src/provide-isr.ts
  libs/isr/server/src/utils/get-isr-options.ts
  libs/isr/utils/ng-package.json
  libs/isr/utils/src/add-isr-data-before-serialized.ts
  libs/isr/utils/src/get-isr-options.ts
  libs/isr/utils/src/http-errors.interceptor.ts
  libs/isr/utils/src/index.ts
  tsconfig.base.json
Due: isr

feat(nx-cloud): setup nx cloud workspace
  nx.json
Due: none

Update nx.json
  nx.json
Due: none

chore: upgrade nx & ng
  apps/demos/project.json
  apps/ssr/project.json
  jest.config.ts
  libs/cdk/notifications/src/lib/create-template-notifier.spec.ts
  libs/cdk/project.json
  libs/cdk/transformations/spec/array/toDictionary.spec.ts
  libs/eslint-plugin/project.json
  libs/isr/project.json
  libs/state/actions/src/lib/rx-actions.spec.ts
  libs/state/project.json
  libs/state/selections/spec/accumulation-observable.spec.ts
  libs/state/selections/spec/select.spec.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/spec/rx-state.spec.ts
  libs/template/for/src/lib/tests/for.directive.observable.spec.ts
  libs/template/for/src/lib/tests/for.directive.signal.spec.ts
  libs/template/for/src/lib/tests/for.directive.spec.ts
  libs/template/if/src/lib/tests/if.directive.observable.spec.ts
  libs/template/if/src/lib/tests/if.directive.signal.spec.ts
  libs/template/if/src/lib/tests/if.directive.spec.ts
  libs/template/project.json
  libs/template/push/src/lib/tests/push.pipe.spec.ts
  libs/test-helpers/project.json
  nx.json
  package.json
  yarn.lock
Due: state, template, cdk, eslint-plugin, isr

chore: upgrade resource classes
  .nx/workflows/dynamic-changesets.yml
Due: none

feat: upgrade nx & ng dependencies
  .nx/workflows/dynamic-changesets.yml
  apps/demos/project.json
  apps/ssr/project.json
  jest.config.ts
  libs/cdk/notifications/src/lib/create-template-notifier.spec.ts
  libs/cdk/project.json
  libs/cdk/transformations/spec/array/toDictionary.spec.ts
  libs/eslint-plugin/project.json
  libs/isr/project.json
  libs/state/actions/src/lib/rx-actions.spec.ts
  libs/state/project.json
  libs/state/selections/spec/accumulation-observable.spec.ts
  libs/state/selections/spec/select.spec.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/spec/rx-state.spec.ts
  libs/template/for/src/lib/tests/for.directive.observable.spec.ts
  libs/template/for/src/lib/tests/for.directive.signal.spec.ts
  libs/template/for/src/lib/tests/for.directive.spec.ts
  libs/template/if/src/lib/tests/if.directive.observable.spec.ts
  libs/template/if/src/lib/tests/if.directive.signal.spec.ts
  libs/template/if/src/lib/tests/if.directive.spec.ts
  libs/template/project.json
  libs/template/push/src/lib/tests/push.pipe.spec.ts
  libs/test-helpers/project.json
  nx.json
  package.json
  yarn.lock
Due: state, template, cdk, eslint-plugin, isr

chore: introduced new SSR hydration app
  apps/ssr-hydration/.eslintrc.json
  apps/ssr-hydration/project.json
  apps/ssr-hydration/public/favicon.ico
  apps/ssr-hydration/src/app/app.component.html
  apps/ssr-hydration/src/app/app.component.scss
  apps/ssr-hydration/src/app/app.component.ts
  apps/ssr-hydration/src/app/app.config.server.ts
  apps/ssr-hydration/src/app/app.config.ts
  apps/ssr-hydration/src/app/app.routes.server.ts
  apps/ssr-hydration/src/app/hydration-demo.ts
  apps/ssr-hydration/src/app/hydration-tracker.ts
  apps/ssr-hydration/src/index.html
  apps/ssr-hydration/src/main.server.ts
  apps/ssr-hydration/src/main.ts
  apps/ssr-hydration/src/server.ts
  apps/ssr-hydration/src/styles.scss
  apps/ssr-hydration/tsconfig.app.json
  apps/ssr-hydration/tsconfig.json
  libs/cdk/render-strategies/src/lib/config.ts
  libs/cdk/render-strategies/src/lib/strategy-provider.service.ts
  nx.json
  package.json
  yarn.lock
Due: cdk

chore: reduce parallelism on ci
  .github/workflows/build-and-test.yml
Due: none

chore: introduced new SSR hydration app (#1886)
  .github/workflows/build-and-test.yml
  apps/ssr-hydration/.eslintrc.json
  apps/ssr-hydration/project.json
  apps/ssr-hydration/public/favicon.ico
  apps/ssr-hydration/src/app/app.component.html
  apps/ssr-hydration/src/app/app.component.scss
  apps/ssr-hydration/src/app/app.component.ts
  apps/ssr-hydration/src/app/app.config.server.ts
  apps/ssr-hydration/src/app/app.config.ts
  apps/ssr-hydration/src/app/app.routes.server.ts
  apps/ssr-hydration/src/app/hydration-demo.ts
  apps/ssr-hydration/src/app/hydration-tracker.ts
  apps/ssr-hydration/src/index.html
  apps/ssr-hydration/src/main.server.ts
  apps/ssr-hydration/src/main.ts
  apps/ssr-hydration/src/server.ts
  apps/ssr-hydration/src/styles.scss
  apps/ssr-hydration/tsconfig.app.json
  apps/ssr-hydration/tsconfig.json
  libs/cdk/render-strategies/src/lib/config.ts
  libs/cdk/render-strategies/src/lib/strategy-provider.service.ts
  nx.json
  package.json
  yarn.lock
Due: cdk

feat(isr): bump peerDependency to @angular/core ^20 (#1883)
  libs/isr/package.json
  yarn.lock
Due: isr

feat(isr): add AngularNodeAppEngine as a render engine option
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/utils/render-url.ts
Due: isr

feat(isr): add AngularNodeAppEngine as a render engine option (#1888)
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/utils/render-url.ts
Due: isr

fix(cdk): preserve prototype chains in array helpers (#1874)
  libs/cdk/transformations/spec/array/toDictionary.spec.ts
  libs/cdk/transformations/spec/array/update.spec.ts
  libs/cdk/transformations/spec/array/upsert.spec.ts
  libs/cdk/transformations/src/lib/array/toDictionary.ts
  libs/cdk/transformations/src/lib/array/update.ts
  libs/cdk/transformations/src/lib/array/upsert.ts
Due: cdk

release(isr): 20.0.0
  libs/isr/CHANGELOG.md
  libs/isr/package.json
Due: isr

release(cdk): 20.1.0
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

release(template): 20.1.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
  isr: any of: libs/isr
