Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin
      isr:
        target: 90%
        flags:
          - isr

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true
  isr:
    paths:
      - libs/isr
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

docs(template): formatting
  apps/docs/docs/template/api/rx-let-directive.mdx
Due: none

feat(template): implement signal support in template package
  apps/demos/src/app/features/template/rx-let/let-template-binding/examples/let-template-binding-signal-example.component.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/let-template-binding.component.ts
  apps/demos/src/app/features/template/rx-let/let-template-binding/let-template-binding.module.ts
  apps/demos/src/app/features/template/rx-let/rx-let.routes.ts
  apps/demos/src/main.ts
  apps/docs/docs/cdk/notifications/notifications.mdx
  apps/docs/docs/template/api/push-pipe.md
  apps/docs/docs/template/api/rx-for-directive.md
  apps/docs/docs/template/api/rx-for-directive.mdx
  apps/docs/docs/template/api/rx-if-directive.mdx
  apps/docs/docs/template/api/rx-let-directive.mdx
  apps/docs/docs/template/api/virtual-scrolling.mdx
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/for/src/lib/tests/fixtures.ts
  libs/template/for/src/lib/tests/for.directive.signal.spec.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/tests/fixtures.ts
  libs/template/if/src/lib/tests/if.directive.signal.spec.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.signal-set.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.signal.spec.ts
Due: template

feat(template): deprecate parent flag
  libs/cdk/render-strategies/src/lib/config.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/for/src/lib/tests/for.directive.parent-notification.spec.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/tests/if.directive.parent-notification.spec.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.signal-parent-notification.spec.ts
Due: template, cdk

feat(demos): remove zone.js, implement signal query example
  apps/demos/src/app/app-component/app-component.module.ts
  apps/demos/src/app/app-component/app.component.ts
  apps/demos/src/app/app-component/index.ts
  apps/demos/src/app/app.module.ts
  apps/demos/src/app/features/concepts/projected-views/projected-views.component.ts
  apps/demos/src/main.ts
  apps/demos/src/polyfills.ts
Due: none

docs(template): add deprecation notes for the parent flag in docs
  apps/docs/docs/template/api/rx-for-directive.mdx
  apps/docs/docs/template/api/rx-if-directive.mdx
  apps/docs/docs/template/api/rx-let-directive.mdx
  apps/docs/docs/template/performance-issues/handling-view-and-content-queries.md
Due: none

docs(template): mark parent as deprecated
  apps/docs/docs/template/api/rx-for-directive.mdx
  apps/docs/docs/template/api/rx-if-directive.mdx
  apps/docs/docs/template/api/rx-let-directive.mdx
Due: none

chore: run prettier
  apps/demos/src/main.ts
Due: none

chore: fix prettier
  apps/docs/docs/state/api/rx-state.md
  libs/state/selections/src/lib/operators/select.ts
  libs/state/selections/src/lib/utils/guards.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

chore: fix prettier (#1722)
  apps/docs/docs/state/api/rx-state.md
  libs/state/selections/src/lib/operators/select.ts
  libs/state/selections/src/lib/utils/guards.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

refactor(state): rename token to `RX_ACCUMULATOR_FN`
  libs/state/selections/spec/accumulation-observable.spec.ts
  libs/state/selections/src/index.ts
  libs/state/selections/src/lib/accumulation-observable.ts
Due: state

test(state): add accumulator DI spec
  libs/state/selections/spec/accumulation-observable.spec.ts
Due: state

feat(state): add accumulator fn injection token
  libs/state/selections/spec/accumulation-observable.spec.ts
  libs/state/selections/src/index.ts
  libs/state/selections/src/lib/accumulation-observable.ts
Due: state

feat: accept subscribable on rx-let input
  libs/cdk/notifications/src/lib/create-template-notifier.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.subscribable.spec.ts
Due: template, cdk

chore: run nx format:write
  apps/demos/src/app/app-component/app.component.ts
  apps/demos/src/app/features/concepts/projected-views/projected-views.component.ts
  apps/demos/src/app/features/template/rx-let/rx-let.routes.ts
  apps/demos/src/main.ts
  apps/docs/docs/cdk/notifications/notifications.mdx
  apps/docs/docs/state/api/rx-state.md
  apps/docs/docs/template/api/push-pipe.md
  apps/docs/docs/template/api/rx-for-directive.mdx
  apps/docs/docs/template/api/rx-if-directive.mdx
  apps/docs/docs/template/api/rx-let-directive.mdx
  apps/docs/docs/template/api/virtual-scrolling.mdx
  apps/docs/docs/template/performance-issues/handling-view-and-content-queries.md
  libs/cdk/render-strategies/src/lib/config.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/render-url.ts
  libs/state/selections/src/lib/operators/select.ts
  libs/state/selections/src/lib/utils/guards.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/for/src/lib/tests/fixtures.ts
  libs/template/for/src/lib/tests/for.directive.parent-notification.spec.ts
  libs/template/for/src/lib/tests/for.directive.signal.spec.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/tests/fixtures.ts
  libs/template/if/src/lib/tests/if.directive.parent-notification.spec.ts
  libs/template/if/src/lib/tests/if.directive.signal.spec.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.signal-parent-notification.spec.ts
  libs/template/let/src/lib/tests/let.directive.signal-set.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.signal.spec.ts
Due: state, template, cdk, isr

Revert "chore: run nx format:write"
  apps/demos/src/app/app-component/app.component.ts
  apps/demos/src/app/features/concepts/projected-views/projected-views.component.ts
  apps/demos/src/app/features/template/rx-let/rx-let.routes.ts
  apps/demos/src/main.ts
  apps/docs/docs/cdk/notifications/notifications.mdx
  apps/docs/docs/state/api/rx-state.md
  apps/docs/docs/template/api/push-pipe.md
  apps/docs/docs/template/api/rx-for-directive.mdx
  apps/docs/docs/template/api/rx-if-directive.mdx
  apps/docs/docs/template/api/rx-let-directive.mdx
  apps/docs/docs/template/api/virtual-scrolling.mdx
  apps/docs/docs/template/performance-issues/handling-view-and-content-queries.md
  libs/cdk/render-strategies/src/lib/config.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/render-url.ts
  libs/state/selections/src/lib/operators/select.ts
  libs/state/selections/src/lib/utils/guards.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/for/src/lib/tests/fixtures.ts
  libs/template/for/src/lib/tests/for.directive.parent-notification.spec.ts
  libs/template/for/src/lib/tests/for.directive.signal.spec.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/tests/fixtures.ts
  libs/template/if/src/lib/tests/if.directive.parent-notification.spec.ts
  libs/template/if/src/lib/tests/if.directive.signal.spec.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.signal-parent-notification.spec.ts
  libs/template/let/src/lib/tests/let.directive.signal-set.spec.ts
  libs/template/let/src/lib/tests/let.directive.template-binding.all.signal.spec.ts
Due: state, template, cdk, isr

chore: format:write
  libs/cdk/notifications/src/lib/create-template-notifier.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.subscribable.spec.ts
Due: template, cdk

feat: accept subscribable on rx-let input (#1721)
  libs/cdk/notifications/src/lib/create-template-notifier.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.subscribable.spec.ts
Due: template, cdk

feat(state): add `provideRxStateConfig` function
  libs/state/selections/spec/accumulation-observable.spec.ts
  libs/state/selections/src/lib/accumulation-observable.ts
  libs/state/src/lib/provide-rx-state-config.ts
Due: state

feat(state): introduce configurable scheduler
  libs/state/selections/src/index.ts
  libs/state/selections/src/lib/accumulation-observable.ts
  libs/state/selections/src/lib/side-effect-observable.ts
  libs/state/src/index.ts
  libs/state/src/lib/provide-rx-state-config.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

test(state): implement tests for configuration
  libs/state/selections/spec/accumulation-observable.spec.ts
  libs/state/spec/rx-state.spec.ts
  libs/state/src/lib/provide-rx-state-config.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

feat(state): deprecate `setAccumulator` in favor of `withAccumulator`
  libs/state/src/lib/rx-state.service.ts
Due: state

docs(state): add section about configuration to state docs
  apps/docs/docs/state/actions/actions.mdx
  apps/docs/docs/state/getting-started.mdx
Due: none

release(cdk): 17.1.0
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

release(template): 17.2.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

release(state): 17.1.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

feat(template): virtual-scrolling: introduce keepScrolledIndexOnPrepend
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
Due: template

feat(demos): implement reverse virtual & infinite scroll example
  apps/demos/src/app/features/template/rx-for/rx-for.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.menu.ts
  apps/demos/src/app/features/template/rx-virtual-for/rx-virtual-for.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/messages/message-data.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/messages/messages.service.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-demo.component.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-experiments.module.ts
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-reverse-infinite-scroll.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/array-provider.service.ts
  apps/demos/src/app/shared/debug-helper/value-provider/array-provider/array-provider.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/utils.ts
Due: none

fix(template): virtual-for: wait for strategy to stabilize
  libs/template/experimental/virtual-scrolling/src/lib/model.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-list-template-manager.ts
Due: template

docs(template): add section about reverse infinite scrolling
  apps/docs/docs/template/api/virtual-scrolling.mdx
  apps/docs/static/img/template/virtual-scrolling/reverse-infinite-scroll.mp4
Due: none

refactor(state): make RX_STATE_CONFIGS string type
  libs/state/src/lib/provide-rx-state-config.ts
Due: state

docs(state): improve rxState configuration docs
  apps/docs/docs/state/getting-started.mdx
  libs/state/src/lib/provide-rx-state-config.ts
Due: state
