Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin
      isr:
        target: 90%
        flags:
          - isr

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true
  isr:
    paths:
      - libs/isr
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

chore: clean up typescript-eslint/member-ordering
  libs/template/for/src/lib/for.directive.ts
  libs/template/if/src/lib/if.directive.ts
Due: template

chore: remove no-input-rename disabled rules
  libs/state/actions/src/lib/docs.spec.ts
  libs/template/for/src/lib/tests/fixtures.ts
  libs/template/for/src/lib/tests/for.directive.parent-notification.spec.ts
  libs/template/if/src/lib/tests/fixtures.ts
Due: state, template

docs: add warning when using Unpatch on elements that refer a FormControl (#1665)
  apps/docs/docs/template/api/unpatch-directive.md
Due: none

chore: disable unused rules
  libs/template/.eslintrc.json
Due: template

chore: remove disabled comments for `directive-class-suffix` rule
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/unpatch/src/lib/unpatch.directive.ts
Due: template

chore: remove disabled comments for `directive-selector` rule
  libs/template/experimental/viewport-prio/src/lib/viewport-prio.directive.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-window.directive.ts
  libs/template/unpatch/src/lib/unpatch.directive.ts
Due: template

chore: readd dissociated disabled comments in test cases
  libs/state/actions/src/lib/actions.factory.spec.ts
  libs/state/selections/spec/distinctUntilSomeChanged.spec.ts
  libs/state/selections/spec/selectSlice.spec.ts
  libs/state/selections/spec/side-effect-observable.spec.ts
  libs/state/selections/spec/stateful.spec.ts
Due: state

chore: remove todo comment for unpatch to be rxUnpatch
  libs/template/unpatch/src/lib/unpatch.directive.ts
Due: template

chore: cleanup left out `directive-class-suffix` disable comment
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
Due: template

fix(template): properly size the virtual viewport container
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

feat(template): add appendOnly mode to virtual scroll strategies
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/util.ts
Due: template

feat(template): add a flag to disable the resizeObserver on autosize
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
Due: template

fix(template): adjust rendered range to value changes
  libs/template/experimental/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
Due: template

feat(template): implement initialScrollIndex
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

docs(template): add docs for new features
  apps/docs/docs/template/api/virtual-scrolling.mdx
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

refactor(template): let scroll strategy initialize before view repeater
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
Due: template

test(template): adjust virtual scrolling tests
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
  libs/template/experimental/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/experimental/virtual-scrolling/tests/fixed-size.cy.ts
Due: template

fix(template): properly calculate diff on update
  libs/template/experimental/virtual-scrolling/src/lib/virtual-list-template-manager.ts
Due: template

chore(template): remove unused code
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

feat(demos): improve virtual-scroll demo
  apps/demos/src/app/features/template/rx-virtual-for/virtual-rendering/virtual-for-demo.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/array-provider.service.ts
  apps/demos/src/app/shared/debug-helper/value-provider/array-provider/array-provider.component.ts
Due: none

chore: fix lint
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

chore: bump workspace to Nx v18
  .env
  apps/ssr-isr/project.json
  apps/ssr/project.json
  libs/cdk/coercing/spec/coerceObservable.spec.ts
  libs/cdk/coercing/spec/coerceObservableWith.spec.ts
  libs/cdk/internals/core/src/lib/get-zone-unpatched-api.spec.ts
  libs/cdk/project.json
  libs/cdk/render-strategies/spec/onStrategy.spec.ts
  libs/cdk/src/test-setup.ts
  libs/cdk/template/spec/list-manager.spec.ts
  libs/cdk/template/spec/template-manager.spec.ts
  libs/cdk/transformations/spec/array/extract.spec.ts
  libs/cdk/transformations/spec/array/insert.spec.ts
  libs/cdk/transformations/spec/array/remove.spec.ts
  libs/cdk/transformations/spec/array/toDictionary.spec.ts
  libs/cdk/transformations/spec/array/update.spec.ts
  libs/cdk/transformations/spec/array/upsert.spec.ts
  libs/cdk/transformations/spec/object/deleteProp.spec.ts
  libs/cdk/transformations/spec/object/dictionaryToArray.spec.ts
  libs/cdk/transformations/spec/object/patch.spec.ts
  libs/cdk/transformations/spec/object/setProp.spec.ts
  libs/cdk/transformations/spec/object/slice.spec.ts
  libs/cdk/transformations/spec/object/toggle.spec.ts
  libs/eslint-plugin/project.json
  libs/isr/project.json
  libs/state/actions/src/lib/rx-actions.spec.ts
  libs/state/project.json
  libs/state/selections/spec/accumulation-observable.spec.ts
  libs/state/test-setup.ts
  libs/template/project.json
  libs/template/src/test-setup.ts
  libs/test-helpers/project.json
  migrations.json
  nx.json
  package.json
  yarn.lock
Due: state, template, cdk, eslint-plugin, isr

chore: remove migrations.json
  .gitignore
  migrations.json
Due: none

release(state): 17.0.1
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

release(template): 17.1.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

release(cdk): 17.0.1
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

docs: update unclear explanation of async pipe usage
  apps/docs/docs/template/concepts/local-variables.md
Due: none

docs(template): improve local variables explanation
  apps/docs/docs/template/concepts/local-variables.md
Due: none

refactor: Readable generic names #1634 (#1660)
  .eslintrc.json
  libs/state/src/lib/rx-state.service.ts
Due: state

feat: default transform function for select
  libs/state/selections/src/lib/operators/select.ts
  libs/state/selections/src/lib/utils/guards.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

feat: default transform function for select
  libs/state/selections/src/lib/operators/select.ts
Due: state

chore: upgrade nx & ng dependencies
  nx.json
  package.json
  yarn.lock
Due: none

chore: upgrade husky
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

fix: remove file formatting from schematics, instead print a console log
  libs/cdk/schematics/src/utils/format-files.ts
  libs/cdk/schematics/src/utils/renaming-rule.ts
  libs/state/schematics/src/utils/format-files.ts
  libs/state/schematics/src/utils/renaming-rule.ts
  libs/template/schematics/src/utils/format-files.ts
  libs/template/schematics/src/utils/renaming-rule.ts
Due: state, template, cdk

test: update snapshots to not include prettier formatting
  libs/cdk/schematics/src/migrations/update-1.0.0-beta.1/__snapshots__/index.spec.ts.snap
  libs/state/schematics/src/migrations/update-1.4.7/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/drop-modules/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/introduce-rxfor-stable/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/introduce-rxif-stable/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/update-1.0.0-beta.30/__snapshots__/index.spec.ts.snap
Due: state, template, cdk

feat(template): deprecate parent flag
  libs/cdk/render-strategies/src/lib/config.ts
  libs/template/experimental/virtual-scrolling/src/lib/virtual-for.directive.ts
  libs/template/for/src/lib/for.directive.ts
  libs/template/for/src/lib/tests/for.directive.parent-notification.spec.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/if/src/lib/tests/if.directive.parent-notification.spec.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.signal-parent-notification.spec.ts
Due: template, cdk

feat(demos): remove zone.js, implement signal query example
  apps/demos/src/app/app-component/app-component.module.ts
  apps/demos/src/app/app-component/app.component.ts
  apps/demos/src/app/app-component/index.ts
  apps/demos/src/app/app.module.ts
  apps/demos/src/app/features/concepts/projected-views/projected-views.component.ts
  apps/demos/src/main.ts
  apps/demos/src/polyfills.ts
Due: none

test(template): adjust parent notification spec
  libs/template/if/src/lib/tests/if.directive.parent-notification.spec.ts
Due: template

chore: upgrade nx, ng & husky (#1708)
  .husky/pre-commit
  libs/cdk/schematics/src/migrations/update-1.0.0-beta.1/__snapshots__/index.spec.ts.snap
  libs/cdk/schematics/src/utils/format-files.ts
  libs/cdk/schematics/src/utils/renaming-rule.ts
  libs/state/schematics/src/migrations/update-1.4.7/__snapshots__/index.spec.ts.snap
  libs/state/schematics/src/utils/format-files.ts
  libs/state/schematics/src/utils/renaming-rule.ts
  libs/template/schematics/src/migrations/drop-modules/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/introduce-rxfor-stable/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/introduce-rxif-stable/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/migrations/update-1.0.0-beta.30/__snapshots__/index.spec.ts.snap
  libs/template/schematics/src/utils/format-files.ts
  libs/template/schematics/src/utils/renaming-rule.ts
  nx.json
  package.json
  yarn.lock
Due: state, template, cdk
