Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

fix: remove eslint comment
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/signal-state-proxy.ts
Due: state

feat(state): introduce signal APIs for RxState
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/rx-state.spec.ts
  libs/state/src/lib/rx-state.ts
  libs/state/src/lib/signal-state-proxy.ts
Due: state

docs: new signal apis in rxState
  apps/docs/docs/state/api/functional-rx-state.md
  apps/docs/docs/state/setup.mdx
  libs/state/README.md
Due: state

test(state): fix RxStateService spec. move all specs to spec folder
  libs/state/spec/rx-state.docs.spec.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/spec/rx-state.spec.ts
Due: state

fix: build errors
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/signal-state-proxy.ts
Due: state

release(state): 16.2.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

feat: expose select and get in rxState setup fn
  libs/state/spec/rx-state.spec.ts
  libs/state/src/lib/rx-state.ts
Due: state

release(state): 16.3.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

refactor: drop usage of `pluck` operator
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query.component.ts
  apps/demos/src/app/features/template/rx-for/nested-lists/rx-for-minimal.directive.ts
  apps/demos/src/app/rx-angular-pocs/cdk/hooks/utils.ts
  apps/demos/src/app/rx-angular-pocs/cdk/utils/rxjs/operators/select.ts
  apps/demos/src/app/shared/debug-helper/visualizer/visualizer/visualizer.component.ts
  apps/demos/src/app/shared/debug-helper/visualizer/visualizer/work-visualizer.component.ts
  apps/docs/docs/state/api/rx-state.md
  apps/docs/docs/state/api/rxjs-operators/select.md
  apps/docs/docs/state/concepts-and-best-practices/get-nested-state-slices.md
  apps/docs/docs/state/recipes/use-rxstate-as-global-state.md
  apps/docs/docs/state/tutorials/migrating-to-rxstate.md
  libs/cdk/template/src/lib/list-view-context.ts
  libs/state/effects/src/lib/utils.ts
  libs/state/selections/spec/accumulation-observable.spec.ts
  libs/state/selections/src/lib/operators/select.ts
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state, cdk

feat(docs): update styles to match new angular
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.tsx
  apps/docs/static/img/logo.png
Due: none

chore(docs): slightly smaller main logo
  apps/docs/src/pages/index.tsx
Due: none

chore(docs): update main readme logo
  docs/images/rx-angular_logo.png
Due: none

chore: bump Nx to v17.0.3
  package.json
  yarn.lock
Due: none

chore: drop vanilla-case-studies
  apps/vanilla-case-studies/.browserslistrc
  apps/vanilla-case-studies/jest.config.ts
  apps/vanilla-case-studies/project.json
  apps/vanilla-case-studies/src/assets/.gitkeep
  apps/vanilla-case-studies/src/case-studies/layer-promotion.html
  apps/vanilla-case-studies/src/case-studies/layer-promotion.js
  apps/vanilla-case-studies/src/environments/environment.prod.ts
  apps/vanilla-case-studies/src/environments/environment.ts
  apps/vanilla-case-studies/src/favicon.ico
  apps/vanilla-case-studies/src/index.html
  apps/vanilla-case-studies/src/main.ts
  apps/vanilla-case-studies/src/polyfills.ts
  apps/vanilla-case-studies/src/styles.css
  apps/vanilla-case-studies/src/test-setup.ts
  apps/vanilla-case-studies/tsconfig.app.json
  apps/vanilla-case-studies/tsconfig.editor.json
  apps/vanilla-case-studies/tsconfig.json
  apps/vanilla-case-studies/tsconfig.spec.json
Due: none

chore: migrate to Angular v17
  apps/demos/project.json
  apps/demos/src/app/features/home/home.component.ts
  apps/ssr/project.json
  apps/ssr/server.ts
  apps/ssr/server.ts.bak
  apps/vanilla-case-studies/project.json
  libs/cdk/project.json
  libs/eslint-plugin/project.json
  libs/isr/project.json
  libs/state/project.json
  libs/template/project.json
  libs/test-helpers/project.json
  nx.json
  package.json
  yarn.lock
Due: state, template, cdk, eslint-plugin, isr

chore: update default typescript-eslint rules
  .eslintrc.json
Due: none

chore: bump node engine to `^18.13.0 || ^20.9.0`
  package.json
Due: none

feat(eslint): migrate to `@typescript-eslint/*` v6
  libs/eslint-plugin/package.json
  libs/eslint-plugin/src/lib/rules/no-explicit-change-detection-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-explicit-change-detection-apis.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-imperative-in-reactive.spec.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-imperative-in-reactive.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-subscriptions-outside-constructor.spec.ts
  libs/eslint-plugin/src/lib/rules/no-rxstate-subscriptions-outside-constructor.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-browser-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-browser-apis.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-lodash-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-lodash-apis.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-creation-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-creation-apis.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-operators.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-operators.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-schedulers.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-critical-rxjs-schedulers.ts
  libs/eslint-plugin/src/lib/rules/no-zone-run-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/no-zone-run-apis.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-layout-sensitive-apis.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-layout-sensitive-apis.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-clone-deep.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-clone-deep.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-is-equal.spec.ts
  libs/eslint-plugin/src/lib/rules/prefer-no-lodash-is-equal.ts
  libs/eslint-plugin/tsconfig.json
  libs/eslint-plugin/tsconfig.lib.json
  libs/eslint-plugin/tsconfig.spec.json
Due: eslint-plugin

test: use new ssr setup
  apps/ssr/src/app/app.component.ts
  apps/ssr/src/app/app.config.server.ts
  apps/ssr/src/app/app.config.ts
  apps/ssr/src/app/app.module.ts
  apps/ssr/src/app/app.server.module.ts
  apps/ssr/src/main.server.ts
  apps/ssr/src/main.ts
Due: none

test: update schematics
  libs/cdk/schematics/src/migrations/update-1.0.0-beta.1/index.spec.ts
  libs/state/schematics/src/migrations/update-1.4.7/index.spec.ts
  libs/template/schematics/src/commands/ng-add/index.spec.ts
  libs/template/schematics/src/migrations/introduce-rxfor-stable/index.spec.ts
  libs/template/schematics/src/migrations/introduce-rxif-stable/index.spec.ts
  libs/template/schematics/src/migrations/update-1.0.0-beta.30/index.spec.ts
Due: state, template, cdk

test(template): fix unpatched Promise spec
  libs/template/push/src/lib/tests/push.pipe.spec.ts
Due: template

test(state): ugly fix for cd not happening
  libs/state/spec/rx-state.spec.ts
Due: state

feat: bump Angular to v17
  libs/cdk/package.json
  libs/isr/package.json
  libs/state/package.json
  libs/template/package.json
Due: state, template, cdk, isr

chore(ci): skip cache
  .github/workflows/build-and-test.yml
Due: none

chore: bump cypress to v13.5.0
  package.json
  yarn.lock
Due: none

chore: bump Nx to v17.1.1
  package.json
  yarn.lock
Due: none

test(state): minor cleanup
  libs/state/spec/rx-state.spec.ts
Due: state

chore(): update logo with svg
  README.md
  apps/docs/blog/2023-03-07-announcing-rxangular-cdk-and-template-1-0.md
  apps/docs/docusaurus.config.js
  apps/docs/src/css/custom.css
  apps/docs/src/pages/index.tsx
  apps/docs/static/img/logo.svg
  libs/isr/README.md
  libs/state/README.md
  libs/template/README.md
Due: state, template, isr

chore(): restore old logos
  README.md
  libs/isr/README.md
  libs/state/README.md
  libs/template/README.md
Due: state, template, isr

feat(state): allow to connect mixed partial of observables and signals
  libs/state/selections/spec/is-partial-of-signals-or-observables-guard.spec.ts
  libs/state/selections/src/index.ts
  libs/state/selections/src/lib/utils/guards.ts
  libs/state/src/lib/convert-partials-to.observable.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

feat(state): cleanup
  apps/docs/docs/state/tutorials/basic-tutorial/01-setup.md
  libs/state/selections/src/lib/utils/guards.ts
Due: state

chore: drop server.ts.bak
  apps/ssr/server.ts.bak
Due: none

chore: bump nx to v17.1.2
  package.json
  yarn.lock
Due: none

chore(ci): enable cache
  .github/workflows/build-and-test.yml
Due: none

test(template): disable flacky repositions items spec
  libs/template/experimental/virtual-scrolling/tests/autosize.cy.ts
Due: template

fix: bump ng-morph to v4.0.3
  libs/cdk/package.json
  libs/state/package.json
  libs/template/package.json
  package.json
  yarn.lock
Due: state, template, cdk

chore: bump Angular dependencies
  apps/demos/src/app/shared/utils/cd-helper.ts
  package.json
  yarn.lock
Due: none

release(cdk): 17.0.0
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

release(template): 17.0.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
  isr: any of: libs/isr
