Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

refactor(state): formatting
  apps/docs/docs/state/actions/actions.mdx
Due: none

refactor(state): deprecate factory
  libs/state/actions/src/lib/actions.factory.ts
Due: state

refactor(state): polish code
  libs/state/actions/src/lib/docs.spec.ts
  libs/state/actions/src/lib/rx-actions.spec.ts
Due: state

refactor(state): add js docs
  libs/state/actions/src/lib/rx-actions.ts
Due: state

release(template): 16.1.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

Update isr.mdx
  apps/docs/docs/isr/isr.mdx
Due: none

chore(docs): enhanced documentation quality
  .vscode/settings.json
  apps/docs/docs/cdk/coalescing/coalescing.mdx
  apps/docs/docs/cdk/coercing/coercing.mdx
  apps/docs/docs/cdk/render-strategies/render-strategies.mdx
  apps/docs/docs/cdk/render-strategies/strategies/basic-strategies.md
  apps/docs/docs/cdk/render-strategies/strategies/concurrent-strategies.md
  apps/docs/docs/cdk/render-strategies/strategies/strategies.mdx
  apps/docs/docs/cdk/transformations/array/insert.md
  apps/docs/docs/cdk/transformations/object/delete-prop.md
  apps/docs/docs/cdk/transformations/object/patch.md
  apps/docs/docs/cdk/zone-configurations/how-to-debug-zone-flags.md
  apps/docs/docs/cdk/zone-configurations/how-to-setup-zone-flags.md
  apps/docs/docs/cdk/zone-configurations/zone-configurations.mdx
  apps/docs/docs/cdk/zone-less/zone-less.mdx
  apps/docs/docs/isr/cache-handlers.md
  apps/docs/docs/state/api/rxjs-operators/stateful.md
  apps/docs/docs/state/effects/effects.mdx
  apps/docs/docs/state/recipes/load-data-on-route-change.md
  apps/docs/docs/state/recipes/use-rxstate-as-global-state.md
  apps/docs/docs/state/recipes/work-with-hostbindings.md
  apps/docs/docs/state/testing/testing.md
  apps/docs/docs/state/tutorials/basic-tutorial/05-side-effects.md
  apps/docs/docs/state/tutorials/increment-a-value.md
  apps/docs/docs/state/tutorials/migrating-to-rxstate.md
  apps/docs/docs/template/api/rx-for-directive.md
  apps/docs/docs/template/api/rx-if-directive.md
  apps/docs/docs/template/api/rx-let-directive.md
  apps/docs/docs/template/api/virtual-scrolling.mdx
  apps/docs/docs/template/performance-issues/handling-view-and-content-queries.md
Due: none

chore: remove .vscode/settings.json from the project
  .vscode/settings.json
Due: none

chore: add push-based.io link to readme
  README.md
Due: none

chore: add push-based.io link to readme (#1612)
  README.md
Due: none

test(state): implement rxEffects creation function spec
  libs/state/effects/spec/effects-funtion.spec.ts
Due: state

refactor(state): rename onCleanup to onDestroy
  libs/state/effects/src/lib/rx-effects.spec.ts
  libs/state/effects/src/lib/rx-effects.ts
Due: state

feat(state): introduce rxEffects creation function
  libs/state/effects/src/index.ts
  libs/state/effects/src/lib/effects.ts
Due: state

refactor(state): fix tests
  libs/state/effects/src/lib/effects-funtion.spec.ts
  libs/state/effects/src/lib/rx-effects.spec.ts
  libs/state/effects/src/lib/rx-effects.ts
Due: state

refactor(state): make ErrorHandler nullable in RxEffects
  libs/state/effects/src/lib/effects.service.ts
Due: state

docs(state): add migration guide and enhance docs
  apps/docs/docs/state/effects/effects.mdx
Due: none

test(state): add more rx effects tests
  libs/state/effects/src/lib/rx-effects.spec.ts
Due: state

refactor(state): reimplement reduced effects
  libs/state/effects/src/index.ts
  libs/state/effects/src/lib/docs.spec.ts
  libs/state/effects/src/lib/effects-funtion.spec.ts
  libs/state/effects/src/lib/effects.service.spec.ts
  libs/state/effects/src/lib/effects.service.ts
  libs/state/effects/src/lib/effects.ts
  libs/state/effects/src/lib/rx-effects.ts
  libs/state/effects/src/lib/types.ts
Due: state

refactor(state): add docs tests
  libs/state/effects/src/lib/docs.spec.ts
Due: state

fix(state): fix rxEffects typing
  libs/state/effects/src/lib/rx-effects.ts
Due: state

docs(state): improve rx effects docs
  apps/docs/docs/state/effects/effects.mdx
Due: none

docs(state): adjust RxEffects docs
  apps/docs/docs/state/effects/effects.mdx
Due: none

docs(state): add testing docs for rx-effects
  apps/docs/docs/state/effects/effects.mdx
  libs/state/effects/src/lib/rx-effects.spec.ts
Due: state

docs(state): fix
  apps/docs/docs/state/effects/effects.mdx
Due: none

fix(state): properly handle undefined
  libs/state/effects/src/lib/rx-effects.ts
Due: state

docs(state): polish actions docs
  apps/docs/docs/state/actions/actions.mdx
  libs/state/actions/src/lib/docs.spec.ts
Due: state

docs(state): move case study to recipes
  apps/docs/docs/state/effects/effects.mdx
  apps/docs/docs/state/recipes/refactor-to-rx-effects.md
Due: none

feat(isr): add the possibility to create the cache in several variants
  libs/isr/models/src/cache-handler.ts
  libs/isr/models/src/index.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/isr-handler.ts
Due: isr

Apply suggestions from code review
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/isr-handler.ts
Due: isr

docs(isr): add documentation for the cache variant feature
  apps/docs/docs/isr/cache-variants.md
Due: none

refactor(isr): correction cache typo
  libs/isr/server/src/isr-handler.ts
Due: isr

Update libs/isr/models/src/cache-handler.ts
  libs/isr/models/src/cache-handler.ts
Due: isr

feat(isr): add the possibility to create the cache in several variants (#1608)
  apps/docs/docs/isr/cache-variants.md
  libs/isr/models/src/cache-handler.ts
  libs/isr/models/src/index.ts
  libs/isr/models/src/isr-handler-config.ts
  libs/isr/server/src/isr-handler.ts
Due: isr

feat(state): only expose limited set of public API
  libs/state/src/lib/inject.spec.ts
  libs/state/src/lib/inject.ts
Due: state

docs(state): update & improve docs for functional API
  apps/docs/docs/state/selections/selections.mdx
  apps/docs/docs/state/setup.md
  apps/docs/docs/state/setup.mdx
  apps/docs/docs/state/tutorials/basic-tutorial/01-setup.md
  libs/state/README.md
Due: state

docs(state): minor changes
  libs/state/README.md
Due: state

refactor(state): rename files
  libs/state/src/index.ts
  libs/state/src/lib/rx-state.spec.ts
  libs/state/src/lib/rx-state.ts
Due: state

refactor(state): stronger typing
  libs/state/src/lib/rx-state.ts
Due: state

docs(state): improve API section
  apps/docs/docs/state/api/functional-rx-state.md
  apps/docs/docs/state/api/rx-state.md
Due: none

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
  isr: any of: libs/isr
