Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin
      isr:
        target: 90%
        flags:
          - isr

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true
  isr:
    paths:
      - libs/isr
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

release(state): 17.0.0
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

release(isr): 17.0.0
  libs/isr/CHANGELOG.md
  libs/isr/package.json
Due: isr

release(eslint-plugin): 2.0.0
  libs/eslint-plugin/CHANGELOG.md
  libs/eslint-plugin/package.json
Due: eslint-plugin

chore(eslint): add publish targets
  libs/eslint-plugin/project.json
Due: eslint-plugin

chore: skip cache for publish
  nx.json
Due: none

chore: use targetDefaults for releasing
  libs/cdk/project.json
  libs/eslint-plugin/project.json
  libs/isr/project.json
  libs/state/project.json
  libs/template/project.json
  nx.json
  package.json
  yarn.lock
Due: state, template, cdk, eslint-plugin, isr

chore: use targetDefaults for releasing
  libs/cdk/project.json
  libs/eslint-plugin/project.json
  libs/isr/project.json
  libs/state/project.json
  libs/template/project.json
Due: state, template, cdk, eslint-plugin, isr

feat(state): cleanup
  libs/state/spec/convert-partials-to.observable.spec.ts
  libs/state/spec/rx-state.service.spec.ts
Due: state

feat(state): use correct durationSelector for coalescing
  libs/state/src/lib/convert-partials-to.observable.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

docs(state): revert change in docs
  apps/docs/docs/state/tutorials/basic-tutorial/01-setup.md
Due: none

docs(CDK): Update import paths to zone-configurations
  apps/docs/docs/cdk/zone-configurations/how-to-setup-zone-flags.md
Due: none

refactor(state): improve convert-partials-to-observable helper
  libs/state/src/lib/convert-partials-to-observable.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

refactor(state): simplify connect implementation
  libs/state/src/lib/rx-state.service.ts
Due: state

refactor(state): fix type issue in connect
  libs/state/src/lib/rx-state.service.ts
Due: state

feat(state): update jsdoc
  libs/state/src/lib/rx-state.service.ts
Due: state

docs(cdk): update import paths to zone-configurations (#1651)
  apps/docs/docs/cdk/zone-configurations/how-to-setup-zone-flags.md
Due: none

fix(template): use correct CdRef instance in RxPush. fixes #1606
  libs/template/push/src/lib/push.pipe.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
Due: template

fix(state): shorthand camelCase support for side effects
  libs/state/actions/src/lib/proxy.ts
  libs/state/actions/src/lib/rx-actions.spec.ts
Due: state

refactor(state): ensure strong typing for sideEffectFn in ActionEffects
  libs/state/actions/src/lib/types.ts
Due: state

feat(template): accept subscribable on rxLet input
  libs/cdk/notifications/src/lib/create-template-notifier.ts
  libs/template/let/src/lib/let.directive.ts
  libs/template/let/src/lib/tests/let.directive.subscribable.spec.ts
Due: template, cdk

docs(state): readable generic names
  libs/state/src/lib/rx-state.service.ts
Due: state

docs(state): readable generic names
  .eslintrc.json
  libs/state/src/lib/rx-state.service.ts
Due: state

docs: describe that Observable Inputs should not be overriden
  apps/docs/docs/state/tutorials/passing-observables-directly.md
Due: none

feat: add signal method overloads to select nested keys
  libs/state/spec/rx-state.spec.ts
  libs/state/src/lib/rx-state.service.ts
  libs/state/src/lib/signal-state-proxy.ts
Due: state

Capitalize title in feature request template
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

docs: add warning when using Unpatch on elements that refer a FormControl
  apps/docs/docs/template/api/unpatch-directive.md
Due: none

fix(docs): fix reddit link access in markdown-link-check
  markdown-link-check.config.json
Due: none

fix(docs): fix reddit link access in markdown-link-check (#1666)
  markdown-link-check.config.json
Due: none

chore: capitalize title in feature request template (#1664)
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

prettier
  apps/docs/docs/template/api/unpatch-directive.md
Due: none

feat(template): unpatch all but specified events
  apps/docs/docs/template/api/unpatch-directive.md
  libs/template/unpatch/src/lib/tests/unpatch.directive.spec.ts
  libs/template/unpatch/src/lib/unpatch.directive.ts
Due: template

chore(template): window*
  apps/docs/docs/template/api/unpatch-directive.md
  libs/template/unpatch/src/lib/unpatch.directive.ts
Due: template

feat(template): viewport external attrs
  apps/docs/docs/template/api/virtual-scrolling.mdx
  libs/template/experimental/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
Due: template

chore(docs): prettier
  apps/docs/docs/state/tutorials/passing-observables-directly.md
Due: none

docs: describe that Observable Inputs should not be overriden (#1661)
  apps/docs/docs/state/tutorials/passing-observables-directly.md
Due: none

chore(docs): correct view -> few
  apps/docs/docs/state/tutorials/passing-observables-directly.md
Due: none

fix(template): use correct CdRef instance in RxPush
  libs/template/push/src/lib/push.pipe.ts
  libs/template/push/src/lib/tests/push.pipe.spec.ts
Due: template
