Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

.codecov.yml:

coverage:
  status:
    patch:
      default:
        threshold: 2%
        target: 90%
    project:
      default: false
      state:
        target: 68%
        flags:
          - state
      template:
        target: 90%
        flags:
          - template
      cdk:
        target: 72%
        flags:
          - cdk
      eslint-plugin:
        target: 90%
        flags:
          - eslint-plugin
      isr:
        target: 90%
        flags:
          - isr

flags:
  state:
    paths:
      - libs/state
    carryforward: true
  template:
    paths:
      - libs/template
    carryforward: true
  cdk:
    paths:
      - libs/cdk
    carryforward: true
  eslint-plugin:
    paths:
      - libs/eslint-plugin
    carryforward: true
  isr:
    paths:
      - libs/isr
    carryforward: true

comment:
  layout: diff, flags, files
  require_changes: true

docs(template): document router navigation not triggering change detection
  apps/docs/docs/concepts/E2-zoneless-and-zonejs-change-detection.md
  apps/docs/docs/packages/template/how-to/router-navigation-and-change-detection.md
  apps/docs/docs/packages/template/index.md
Due: none

fix(demos): render strategy options synchronously in strategy-select
  apps/demos/src/app/shared/debug-helper/strategy-select/strategy-select.component.spec.ts
  apps/demos/src/app/shared/debug-helper/strategy-select/strategy-select.component.ts
  apps/demos/tsconfig.app.json
Due: none

feat(state): add connect overload for an object of sources
  apps/docs/docs/packages/state/reference/rx-state-class.md
  apps/docs/docs/packages/state/reference/rx-state-functional.md
  libs/state/spec/rx-state.service.spec.ts
  libs/state/spec/rx-state.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

fix(state): export the rxEffects handle interface
  apps/docs/docs/packages/state/reference/rx-effects-api.md
  libs/state/effects/src/lib/rx-effects.spec.ts
  libs/state/effects/src/lib/rx-effects.ts
Due: state

fix(template): recalculate dynamic item sizes when the size function changes
  apps/docs/docs/packages/template/reference/rx-virtual-scroll-strategies.md
  libs/template/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/tests/dynamic-size.cy.ts
Due: template

feat(cdk/transformations): support key selector function in toDictionary
  apps/docs/docs/packages/cdk/reference/transformations/array/to-dictionary.md
  libs/cdk/transformations/spec/array/toDictionary.spec.ts
  libs/cdk/transformations/src/lib/array/toDictionary.ts
Due: cdk

feat(template): add visibleRange output to rx-virtual-scroll-viewport
  apps/docs/docs/packages/template/reference/rx-virtual-scroll-strategies.md
  apps/docs/docs/packages/template/reference/rx-virtual-scroll-viewport.md
  libs/template/virtual-scrolling/src/lib/model.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/fixed-size-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/util.ts
  libs/template/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
  libs/template/virtual-scrolling/tests/autosize.cy.ts
  libs/template/virtual-scrolling/tests/dynamic-size.cy.ts
  libs/template/virtual-scrolling/tests/fixed-size.cy.ts
  libs/template/virtual-scrolling/tests/fixtures.ts
Due: template

fix(template): keep virtual scroll state when the viewport is hidden
  apps/docs/docs/packages/template/how-to/virtual-scroll-recipes.md
  libs/template/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
  libs/template/virtual-scrolling/tests/autosize.cy.ts
Due: template

fix(eslint): correct version compatibility table peer range
  apps/docs/docs/packages/eslint-plugin/index.md
  libs/eslint-plugin/README.md
Due: eslint-plugin

fix(docs): fix compile error in custom scroll strategy example
  apps/docs/docs/packages/template/reference/rx-virtual-scroll-strategies.md
Due: none

fix(state): validate the record of the connect object overload
  apps/docs/docs/packages/state/reference/rx-state-class.md
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

fix(state): re-export the rxEffects handle type from the entry point
  apps/docs/docs/packages/state/reference/rx-effects-api.md
  libs/state/effects/src/index.ts
  libs/state/effects/src/lib/rx-effects.spec.ts
  libs/state/effects/src/lib/rx-effects.ts
Due: state

fix(template): exclude an item starting exactly at the viewport bottom from visibleRange
  libs/template/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/scroll-strategies/dynamic-size-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/tests/autosize.cy.ts
  libs/template/virtual-scrolling/tests/dynamic-size.cy.ts
Due: template

fix(template): detect a hidden viewport by layout box instead of a zero size
  apps/docs/docs/packages/template/how-to/virtual-scroll-recipes.md
  libs/template/virtual-scrolling/src/lib/scroll-strategies/autosize-virtual-scroll-strategy.ts
  libs/template/virtual-scrolling/src/lib/util.ts
  libs/template/virtual-scrolling/src/lib/virtual-scroll-viewport.component.ts
  libs/template/virtual-scrolling/tests/autosize.cy.ts
Due: template

fix(state): ignore non-enumerable keys and tolerate an all-holes record
  apps/docs/docs/packages/state/reference/rx-state-class.md
  libs/state/spec/rx-state.service.spec.ts
  libs/state/src/lib/rx-state.service.ts
Due: state

fix(template): reserve virtual-view size for mounted content
  apps/ssr-hydration/cypress/e2e/virtual-view-cls.cy.ts
  apps/ssr-hydration/src/app/app.routes.ts
  apps/ssr-hydration/src/app/demos/cls-demo.component.ts
  libs/template/virtual-view/src/lib/tests/test-utils/observer-mocks.ts
  libs/template/virtual-view/src/lib/tests/virtual-view-config.spec.ts
  libs/template/virtual-view/src/lib/tests/virtual-view-content-stacking.spec.ts
  libs/template/virtual-view/src/lib/tests/virtual-view-hydration-cls.spec.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

fix(isr): send app engine redirects instead of empty pages
  libs/isr/server/src/cache-generation.ts
  libs/isr/server/src/isr-handler.spec.ts
  libs/isr/server/src/isr-handler.ts
  libs/isr/server/src/utils/render-url.ts
Due: isr

feat(demos): add speculative-link demo
  .env
  apps/demos/src/app/app-component/app.menu.ts
  apps/demos/src/app/app-component/app.routes.ts
  apps/demos/src/app/features/speculative-link/speculative-link-detail/speculative-link-detail.component.ts
  apps/demos/src/app/features/speculative-link/speculative-link.component.ts
  apps/demos/src/app/features/speculative-link/speculative-link.menu.ts
  apps/demos/src/app/features/speculative-link/speculative-link.module.ts
  apps/demos/src/app/features/speculative-link/speculative-link.service.ts
  apps/demos/src/main.ts
  test-regex.js
Due: none
