Repository rx-angular/rx-angular: changes, and which Codecov flags are due for each by the changed paths.
All: state, template, cdk, eslint-plugin, isr

docs(state): update "migrating to rxstate" guide with functional approach
  apps/docs/docs/state/tutorials/migrating-to-rxstate.mdx
Due: none

chore(state): run format:write
  apps/docs/docs/state/integrations/manage-entities-using-ngrx-entity.mdx
  apps/docs/docs/state/integrations/resuse-ngrx-selectors-to-compose-state.mdx
  apps/docs/docs/state/recipes/load-data-on-route-change.mdx
  apps/docs/docs/state/recipes/manage-viewmodel.mdx
  apps/docs/docs/state/recipes/run-partial-updates.mdx
  apps/docs/docs/state/recipes/use-rxstate-as-global-state.mdx
  apps/docs/docs/state/recipes/work-with-hostbindings.mdx
  apps/docs/docs/state/tutorials/migrating-to-rxstate.mdx
Due: none

docs(state): update "mangae viewmodels" guide with functional approach
  apps/docs/docs/state/recipes/manage-viewmodel.mdx
Due: none

docs(state): update manage entites using ngrx/entity guide with functional approach
  apps/docs/docs/state/integrations/manage-entities-using-ngrx-entity.md
  apps/docs/docs/state/integrations/manage-entities-using-ngrx-entity.mdx
Due: none

docs(state): correct formatting of mdx docs
  apps/docs/docs/state/integrations/manage-entities-using-ngrx-entity.mdx
  apps/docs/docs/state/integrations/resuse-ngrx-selectors-to-compose-state.mdx
  apps/docs/docs/state/recipes/load-data-on-route-change.mdx
  apps/docs/docs/state/recipes/run-partial-updates.mdx
  apps/docs/docs/state/recipes/use-rxstate-as-global-state.mdx
  apps/docs/docs/state/recipes/work-with-hostbindings.mdx
Due: none

docs(state): update reuse ngrx selectors guide with functional approach
  apps/docs/docs/state/integrations/resuse-ngrx-selectors-to-compose-state.mdx
Due: none

docs(state): update "use rxState as global state" guide with functional approach
  apps/docs/docs/state/integrations/manage-entities-using-ngrx-entity.mdx
  apps/docs/docs/state/integrations/resuse-ngrx-selectors-to-compose-state.mdx
  apps/docs/docs/state/recipes/use-rxstate-as-global-state.md
  apps/docs/docs/state/recipes/use-rxstate-as-global-state.mdx
Due: none

docs(state): update "load data on route change" guide with functional approach
  apps/docs/docs/state/integrations/manage-entities-using-ngrx-entity.mdx
  apps/docs/docs/state/recipes/load-data-on-route-change.md
  apps/docs/docs/state/recipes/load-data-on-route-change.mdx
Due: none

chore: fix docs build
  apps/docs/docs/state/integrations/manage-entities-using-ngrx-entity.mdx
  apps/docs/docs/state/integrations/resuse-ngrx-selectors-to-compose-state.mdx
  apps/docs/docs/state/recipes/load-data-on-route-change.mdx
  apps/docs/docs/state/recipes/manage-viewmodel.mdx
  apps/docs/docs/state/recipes/run-partial-updates.mdx
  apps/docs/docs/state/recipes/use-rxstate-as-global-state.mdx
  apps/docs/docs/state/recipes/work-with-hostbindings.mdx
  apps/docs/docs/state/tutorials/migrating-to-rxstate.mdx
Due: none

refactor(template): don't expose viewcache
  libs/template/virtual-view/src/index.ts
Due: template

refactor(template): finetune API
  libs/template/virtual-view/src/lib/model.ts
  libs/template/virtual-view/src/lib/resize-observer.ts
  libs/template/virtual-view/src/lib/virtual-view-observer.directive.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

fix(template): fix API usage
  libs/template/virtual-view/src/lib/virtual-view-observer.directive.ts
Due: template

docs(template): improve virtual view docs
  apps/docs/docs/template/api/virtual-view-directive.mdx
Due: none

feat(template): slightly better types
  libs/template/virtual-view/src/lib/resize-observer.ts
  libs/template/virtual-view/src/lib/virtual-view-observer.directive.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

chore: disable non null assertion completely
  libs/template/.eslintrc.json
Due: template

feat(template): rename template to content
  apps/demos/src/app/features/template/virtual-view/virtual-item.component.ts
  apps/demos/src/app/features/template/virtual-view/virtual-view-demo.component.ts
  apps/docs/docs/template/api/virtual-view-directive.mdx
  libs/template/virtual-view/src/index.ts
  libs/template/virtual-view/src/lib/model.ts
  libs/template/virtual-view/src/lib/tests/virtual-view.directive.spec.ts
  libs/template/virtual-view/src/lib/virtual-view-cache.ts
  libs/template/virtual-view/src/lib/virtual-view-content.directive.ts
  libs/template/virtual-view/src/lib/virtual-view-observer.directive.ts
  libs/template/virtual-view/src/lib/virtual-view-placeholder.directive.ts
  libs/template/virtual-view/src/lib/virtual-view.config.ts
  libs/template/virtual-view/src/lib/virtual-view.directive.ts
Due: template

chore: add another demo for virtual views
  apps/demos/src/app/features/template/virtual-view/virtual-view-cool-demo.component.ts
  apps/demos/src/app/features/template/virtual-view/virtual-view.routes.ts
Due: none

release(state): 19.0.1
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

release(cdk): 19.0.1
  libs/cdk/CHANGELOG.md
  libs/cdk/package.json
Due: cdk

release(template): 19.1.0
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

chore: fix template changelog
  libs/template/CHANGELOG.md
Due: template

fix(template): expose virtual-view config tokens
  libs/template/virtual-view/src/index.ts
Due: template

release(template): 19.1.1
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

fix(template): update peerDependency to cdk
  libs/template/package.json
Due: template

fix(state): update peerDependency to cdk
  libs/state/package.json
Due: state

chore: update yarn.lock
  yarn.lock
Due: none

release(state): 19.0.2
  libs/state/CHANGELOG.md
  libs/state/package.json
Due: state

release(template): 19.1.2
  libs/template/CHANGELOG.md
  libs/template/package.json
Due: template

fix: properly include files in tsconfig
  libs/cdk/tsconfig.lib.json
  libs/state/tsconfig.lib.json
  libs/template/tsconfig.lib.json
Due: state, template, cdk

chore: move to es2022
  apps/demos/src/app/app-component/app-control-panel/app-control-panel.component.ts
  apps/demos/src/app/app-component/app-control-panel/app-control-panel.module.ts
  apps/demos/src/app/app-component/app-control-panel/index.ts
  apps/demos/src/app/features/concepts/coalescing/strategies/index.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-let-poc.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query-children.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query-content.component.ts
  apps/demos/src/app/features/experiments/structural-directives/rx-let-poc/rx-query.component.ts
  apps/demos/src/app/rx-angular-pocs/cdk/utils/rxjs/operators/queueWith.ts
  apps/demos/src/app/shared/debug-helper/cd-env/cd-env/cd-env.component.ts
  apps/demos/src/app/shared/debug-helper/i-frame/i-frame.module.ts
  apps/demos/src/app/shared/debug-helper/i-frame/i-frame/i-frame.component.ts
  apps/demos/src/app/shared/debug-helper/ripple/ripple.component.ts
  apps/demos/src/app/shared/debug-helper/value-provider/value/index.ts
  apps/demos/src/app/shared/strategy-icon/strategy-icons.component.ts
  apps/demos/tsconfig.app.json
  apps/demos/tsconfig.json
  apps/ssr-isr/tsconfig.json
  apps/ssr/tsconfig.json
  libs/cdk/tsconfig.json
  libs/cdk/tsconfig.lib.json
  libs/isr/tsconfig.json
  libs/state/tsconfig.json
  libs/state/tsconfig.lib.json
  libs/template/tsconfig.json
  libs/template/tsconfig.lib.json
  libs/test-helpers/tsconfig.json
  tsconfig.base.json
Due: state, template, cdk, isr

docs: refactor docs structure
  apps/docs/docs/cdk/_category_.json
  apps/docs/docs/cdk/api/_category_.json
  apps/docs/docs/cdk/api/interfaces/_category_.json
  apps/docs/docs/cdk/api/interfaces/only-keys-of-specific-type.md
  apps/docs/docs/cdk/notifications/notifications.mdx
  apps/docs/docs/eslint-plugin/_category_.json
  apps/docs/docs/isr/_category_.json
  apps/docs/docs/state/_category_.json
  apps/docs/docs/template/_category_.json
  apps/docs/docs/template/api/_category_.json
  apps/docs/docs/template/push-pipe.md
  apps/docs/docs/template/rx-for-directive.mdx
  apps/docs/docs/template/rx-if-directive.mdx
  apps/docs/docs/template/rx-let-directive.mdx
  apps/docs/docs/template/unpatch-directive.md
  apps/docs/docs/template/viewport-prio-directive.md
  apps/docs/docs/template/virtual-scrolling.mdx
  apps/docs/docs/template/virtual-view-directive.mdx
  libs/template/README.md
  libs/template/for/src/lib/README.md
  libs/template/for/src/lib/for.directive.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/let/src/lib/README.md
  libs/template/let/src/lib/let.directive.ts
  libs/template/unpatch/src/lib/README.md
Due: template

docs: small fixes
  apps/docs/docs/template/push-pipe.md
  apps/docs/docs/template/viewport-prio-directive.md
  apps/docs/docs/template/virtual-view-directive.mdx
Due: none

feat: change demos executor and output path
  apps/demos/project.json
Due: none

feat: set production as default configuration for building demos
  apps/demos/project.json
Due: none

feat: change output location, and delete base_href for better dx
  apps/demos/project.json
Due: none

docs: refactor docs structure (#1824)
  apps/docs/docs/cdk/_category_.json
  apps/docs/docs/cdk/api/_category_.json
  apps/docs/docs/cdk/api/interfaces/_category_.json
  apps/docs/docs/cdk/api/interfaces/only-keys-of-specific-type.md
  apps/docs/docs/cdk/notifications/notifications.mdx
  apps/docs/docs/eslint-plugin/_category_.json
  apps/docs/docs/isr/_category_.json
  apps/docs/docs/state/_category_.json
  apps/docs/docs/template/_category_.json
  apps/docs/docs/template/api/_category_.json
  apps/docs/docs/template/api/viewport-prio-directive.md
  apps/docs/docs/template/push-pipe.md
  apps/docs/docs/template/rx-for-directive.mdx
  apps/docs/docs/template/rx-if-directive.mdx
  apps/docs/docs/template/rx-let-directive.mdx
  apps/docs/docs/template/unpatch-directive.md
  apps/docs/docs/template/virtual-scrolling.mdx
  apps/docs/docs/template/virtual-view-directive.mdx
  libs/template/README.md
  libs/template/for/src/lib/README.md
  libs/template/for/src/lib/for.directive.ts
  libs/template/if/src/lib/if.directive.ts
  libs/template/let/src/lib/README.md
  libs/template/let/src/lib/let.directive.ts
  libs/template/unpatch/src/lib/README.md
Due: template

feat: check if base href its causing ci problems with nx
  apps/demos/project.json
Due: none

feat: delete base href
  apps/demos/project.json
Due: none

feat(demos): change demos executor, and delete base_href (#1826)
  apps/demos/project.json
Due: none

Path conditions:
  state: any of: libs/state
  template: any of: libs/template
  cdk: any of: libs/cdk
  eslint-plugin: any of: libs/eslint-plugin
  isr: any of: libs/isr
